Phil Crypto Investment Insight.json
{
  "name": "Phil Crypto Investment Insight",
  "nodes": [
    {
      "parameters": {
        "content": "## Macro Context \n",
        "height": 1680,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4288,
        -1184
      ],
      "typeVersion": 1,
      "id": "e9a854a4-7cf4-4a6c-9059-5099076d6101",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3856,
        -304
      ],
      "id": "18eeba72-e4f7-440b-8004-287f510f568e",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Micro Context\n",
        "height": 1680,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -1184
      ],
      "typeVersion": 1,
      "id": "994e4353-9a30-4019-8c46-b19902ca3e8e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -640
      ],
      "id": "58bcb966-f551-4288-b12c-e8389fd794eb",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -560
      ],
      "id": "d9bea458-9cc0-4fb8-a113-0b3cc1d90d3e",
      "name": "Clean Merge3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5920,
        -576
      ],
      "id": "1ef08b25-aef1-460f-b699-440a0fdd92fd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\nlet result = {};\n\nconst series = getYahooSeries('^TNX');\nconst current = series[series.length - 1];\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nconst prev180 = series[series.length - 180] || current;\nresult = {\n    indicator: \"treasury_yield\",\n    current: current,\n    change_30d: current - prev30,\n    change_90d: current - prev90,\n    change_180d: current - prev180,\n    direction: current > prev30 ? \"up\" : \"down\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -1024
      ],
      "id": "7c91ad1c-5dc0-4a86-93b4-203f9d6cc455",
      "name": "treasury_yield"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('^IRX'); // 13 Week T-Bill as proxy\nconst current = series[series.length - 1];\nconst prev90 = series[series.length - 90] || current; // ~3m\nconst prev180 = series[series.length - 180] || current; // ~6m\nresult = {\n    indicator: \"fed_funds_rate\",\n    current: current,\n    change_3m: current - prev90,\n    change_6m: current - prev180,\n    note: \"Using ^IRX (13 Week T-Bill) as proxy\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -880
      ],
      "id": "866c2266-fb05-40e3-9ac9-519bcd777497",
      "name": "fed_funds_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst googleNewsData = $('Fetch Google News').first().json;\nlet xml = \"\";\n\n// Robustly find the XML string\nif (typeof googleNewsData === 'string') xml = googleNewsData;\nelse if (googleNewsData && typeof googleNewsData.data === 'string') xml = googleNewsData.data;\nelse if (googleNewsData && typeof googleNewsData.content === 'string') xml = googleNewsData.content;\nelse if (googleNewsData && typeof googleNewsData.xml === 'string') xml = googleNewsData.xml;\nelse xml = JSON.stringify(googleNewsData); // Fallback\n\n// State Management\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\n// Parse Items\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\n// Format Output\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"macro_news_summary\",\n        content: titles,\n        summary: titles,\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -736
      ],
      "id": "f5d5faa4-3686-4174-b475-97915de3ec98",
      "name": "macro_news_summary"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\n\n\nlet result = {};\n\nresult = {\n    indicator: \"btc_overview\",\n    price: parseFloat(binanceTicker.lastPrice),\n    change_24h: parseFloat(binanceTicker.priceChangePercent)\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -592
      ],
      "id": "31bc4b69-8eab-4981-a1da-eb7d2c545677",
      "name": "btc_overview"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('GC=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nresult = {\n    indicator: \"gold_price_trend\",\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100,\n    change_90d: ((current - prev90)/prev90)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -128
      ],
      "id": "c4840e4f-af92-4cb6-b20a-96555ce8cdc2",
      "name": "gold_price_trend"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5920,
        -768
      ],
      "id": "2f04af12-b3ca-4ce1-92a6-31337524c2ac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('DX-Y.NYB');\nconst current = series[series.length - 1];\nresult = {\n    indicator: \"dxy_proxy\",\n    value: current\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -288
      ],
      "id": "26bd8c5a-d64d-4511-84a7-286e5c1827ad",
      "name": "dxy_proxy"
    },
    {
      "parameters": {
        "content": "## Real Data Sources\n\nThis workflow is now configured to fetch live data from:\n\n- **Binance**: BTC Price & Candles\n- **Yahoo Finance**: Gold, Oil, Yields\n- **Alternative.me**: Fear & Greed\n- **CryptoPanic**: Crypto News\n- **Google News**: Macro/Trump News",
        "height": 1680,
        "width": 1232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5520,
        -1184
      ],
      "typeVersion": 1,
      "id": "63f442ce-74f2-4d09-817c-1ca22eb9f002",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('CL=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nresult = {\n    indicator: \"crude_oil_trend\",\n    price: current,\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        32
      ],
      "id": "489462c6-24ea-4985-bd90-00462d0385f4",
      "name": "crude_oil_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json || {};\n// Use safe access to handle potential failures\nconst binanceDailyNode = $('Fetch Binance Daily').all();\nconst binanceDailyItems = binanceDailyNode.length > 0 ? binanceDailyNode.map(i => i.json).filter(i => i) : [];\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    if (!items || items.length === 0) return [];\n    // item is usually array [time, open, high, low, close, ...]\n    // Filter out invalid items (like error objects)\n    return items\n        .filter(i => Array.isArray(i) && i.length > 4)\n        .map(i => parseFloat(i[4]))\n        .filter(n => !isNaN(n));\n}\nconst closesDaily = getCloses(binanceDailyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction stdDev(values, period, average) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const squareDiffs = slice.map(value => Math.pow(value - average, 2));\n    const avgSquareDiff = squareDiffs.reduce((a, b) => a + b, 0) / period;\n    return Math.sqrt(avgSquareDiff);\n}\n\n// Indicator Logic\nlet result = {};\n\nif (closesDaily.length >= 20) {\n    const ma50 = sma(closesDaily, 50);\n    const ma20 = sma(closesDaily, 20);\n    const sd20 = stdDev(closesDaily, 20, ma20);\n    \n    const upper = ma20 + (2 * sd20);\n    const lower = ma20 - (2 * sd20);\n    \n    // BBW: (Upper - Lower) / Middle\n    const bbw = (ma20 !== 0) ? (upper - lower) / ma20 : 0;\n    \n    // Volatility Squeeze: Check if BBW is near 6-month low\n    let minBBW = 9999;\n    let bbwHistory = [];\n    const lookback = 180;\n    \n    // We calculate BBW history\n    for (let i = 0; i < lookback; i++) {\n        let idx = closesDaily.length - 1 - i;\n        if (idx < 20) break;\n        \n        let slice = closesDaily.slice(idx - 19, idx + 1);\n        let avg = slice.reduce((a, b) => a + b, 0) / 20;\n        \n        // Optimize: we just need avg for BBW calc? No we need SD.\n        // Doing full SD calc 180 times is fine for n8n code node (JS is fast enough).\n        let sqDiffs = slice.map(v => Math.pow(v - avg, 2));\n        let sd = Math.sqrt(sqDiffs.reduce((a, b) => a + b, 0) / 20);\n        \n        let u = avg + 2 * sd;\n        let l = avg - 2 * sd;\n        if (avg !== 0) {\n            bbwHistory.push((u - l) / avg);\n        }\n    }\n    \n    if (bbwHistory.length > 0) {\n        minBBW = Math.min(...bbwHistory);\n        // \"Near 6-month low\": Within 10% of the minimum\n        result.volatility_squeeze = bbw <= (minBBW * 1.10);\n    } else {\n        result.volatility_squeeze = false;\n    }\n    \n    result.bbw = bbw;\n\n    const trend = currentPrice > ma50 ? \"bullish\" : \"bearish\";\n    result.indicator = \"btc_price_trend\";\n    result.price = currentPrice;\n    result.trend = trend;\n} else {\n     // Handle missing data or API failure\n     result = {\n        indicator: \"btc_price_trend\",\n        price: currentPrice,\n        trend: \"neutral\",\n        error: \"Insufficient data\"\n    };\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -768
      ],
      "id": "d2a83e3e-da15-4b85-a54d-e556f5d5509f",
      "name": "btc_price_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = rsi(closesDaily, 14);\nresult = {\n    indicator: \"rsi14\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -912
      ],
      "id": "96bc2fc9-cbb6-4124-b6d8-84aa9c4b811a",
      "name": "rsi14"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst fearGreed = $('Fetch FearGreed').first().json;\n\n\n// Parsers & Helpers\n\n// Indicator Logic\nlet result = {};\n\nconst fng = fearGreed.data ? fearGreed.data[0] : { value: 50, value_classification: \"Neutral\" };\nresult = {\n    indicator: \"fear_greed_index_trend\",\n    value: parseInt(fng.value),\n    sentiment: fng.value_classification\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -624
      ],
      "id": "2c827ab4-b75d-4faa-9840-3860a63b40ae",
      "name": "fear_greed_index_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceFutures = $('Fetch Binance Futures').first().json;\n\n// Parsers & Helpers\nlet result = {};\n\n// Binance funding rate is usually small number (e.g. 0.0001)\nconst rate = parseFloat(binanceFutures.lastFundingRate || 0);\nresult = {\n    indicator: \"btc_funding_rate\",\n    value: rate\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -480
      ],
      "id": "8aa1ab0a-4dac-434f-881c-7bbd5100c0f3",
      "name": "btc_funding_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst cryptoPanicData = $('Fetch CryptoPanic').first().json;\nlet xml = \"\";\n\nif (typeof cryptoPanicData === 'string') xml = cryptoPanicData;\nelse if (cryptoPanicData && typeof cryptoPanicData.data === 'string') xml = cryptoPanicData.data;\nelse if (cryptoPanicData && typeof cryptoPanicData.content === 'string') xml = cryptoPanicData.content;\nelse xml = JSON.stringify(cryptoPanicData);\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"crypto_news_summary\",\n        summary: titles,\n        source: \"CryptoPanic RSS\",\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -160
      ],
      "id": "5d3e894e-2977-426e-9305-ce671b6c4f9c",
      "name": "crypto_news_summary"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\n\nconst binanceOI = $('Fetch Binance OI').first().json;\n\n\n// Parsers & Helpers\n\n\nlet result = {};\n\nconst oi = parseFloat(binanceOI.openInterest || 0);\nresult = {\n    indicator: \"btc_open_interest\",\n    value: oi\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -304
      ],
      "id": "3aaf7832-59f7-4ad8-9b5e-46ef29c8ee5d",
      "name": "btc_open_interest"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nlet result = {};\n\nconst ma200w = sma(closesWeekly, 200);\nconst dist = ((currentPrice - ma200w) / ma200w) * 100;\nresult = {\n    indicator: \"btc_200wma_distance\",\n    distance_percent: dist\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -912
      ],
      "id": "7a0d780e-8f83-4cd1-87da-ec48a815c6c7",
      "name": "btc_200wma_distance"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n\nlet result = {};\n\nconst currentRsi = rsi(closesDaily, 14);\nconst prevRsi = rsi(closesDaily.slice(0, -1), 14);\nresult = {\n    indicator: \"rsi14_trend\",\n    trend: currentRsi > prevRsi ? \"rising\" : \"falling\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -800
      ],
      "id": "700762cb-8ffa-4a7d-9d0b-2331ae293016",
      "name": "rsi14_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction ema(values, period) {\n    if (values.length < period) return 0;\n    const k = 2 / (period + 1);\n    let ema = values[0]; // Start with the first value\n    // Iterate from the second value to the end\n    for (let i = 1; i < values.length; i++) {\n        ema = values[i] * k + ema * (1 - k);\n    }\n    return ema;\n}\n\n// Indicator Logic\nlet result = {};\n\nconst ema20w = ema(closesWeekly, 20);\nconst sma21w = sma(closesWeekly, 21);\nresult = {\n    indicator: \"bull_market_support_band\",\n    support_level: (ema20w + sma21w) / 2, // Average of the band\n    description: \"20W EMA / 21W SMA\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -672
      ],
      "id": "69338e11-7c13-4e9a-b478-c7f2a8abbdc0",
      "name": "bull_market_support_band"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = sma(closesWeekly, 50);\nresult = {\n    indicator: \"50wma\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -528
      ],
      "id": "429b4b1a-b3c3-4a66-8628-11b67975eb3d",
      "name": "50wma"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst ma50 = sma(closesDaily, 50);\nconst ma200 = sma(closesDaily, 200);\nresult = {\n    indicator: \"ma50_ma200_trend\",\n    status: (ma50 > ma200) ? \"bullish\" : \"bearish\",\n    description: \"MA50 vs MA200\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -400
      ],
      "id": "93848d74-7417-4031-b1e0-515e1ba91c6a",
      "name": "ma50_ma200_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst dma111 = sma(closesDaily, 111);\nconst dma350x2 = sma(closesDaily, 350) * 2;\nresult = {\n    indicator: \"pi_cycle_top\",\n    is_top: dma111 > dma350x2,\n    description: \"111DMA vs 350DMA*2\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -272
      ],
      "id": "e12c6f02-c899-4288-ac02-7375eb3fee27",
      "name": "pi_cycle_top"
    },
    {
      "parameters": {
        "jsCode": "\n\n\n\nlet result = {};\n\n// Next halving approx April 2028?\n// Last halving April 2024.\nconst now = new Date();\nconst lastHalving = new Date('2024-04-19');\nconst nextHalving = new Date('2028-04-19');\nconst totalTime = nextHalving - lastHalving;\nconst elapsedTime = now - lastHalving;\nconst progress = (elapsedTime / totalTime) * 100;\nresult = {\n    indicator: \"halving_cycle\",\n    progress_percent: progress,\n    phase: \"post-halving\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -112
      ],
      "id": "b6476151-5f2a-44df-96e2-b2884cac293a",
      "name": "halving_cycle"
    },
    {
      "parameters": {
        "content": "## Meso Context\n\n",
        "height": 1680,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3168,
        -1184
      ],
      "typeVersion": 1,
      "id": "d5a2bdcb-ba87-482a-88f3-cefe590b8225",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2496,
        -832
      ],
      "id": "b4a16af2-1b07-45f2-8aec-29cd9d4d27f0",
      "name": "Merge Meso"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2464,
        -288
      ],
      "id": "98ffcc55-b6e4-4b4b-9bae-4bf099e43276",
      "name": "Merge Top&Bottom"
    },
    {
      "parameters": {
        "jsCode": "// === Unified Market Insights Cleaner ===\n// Mode: Run Once for All Items\nconst items = $input.all();\nlet macro, meso, micro, news, topbottom;\n\n// --- Helper: Robustly extract text from various AI JSON structures --- \nfunction pickContent(d) { \n    if (!d) return null;\n\n    // 1. Google Gemini / PaLM (Structure: content.parts[0].text) \n    if (d.content?.parts?.[0]?.text) { \n        return d.content.parts[0].text; \n    }\n\n    // 2. OpenAI / Standard (Structure: choices[0].message.content) \n    if (d.choices?.[0]?.message?.content) { \n        return d.choices[0].message.content; \n    }\n\n    // 3. Direct Message (Anthropic/Other) \n    if (d.message?.content) { \n        return d.message.content; \n    }\n\n    // 4. Fallback: Content is already a simple string \n    if (typeof d.content === 'string') { \n        return d.content; \n    }\n\n    return null; \n}\n\n// --- Classifier: Identify the section based on text keywords --- \nfunction classify(text) { \n    if (!text || typeof text !== \"string\") return; \n    const t = text.toLowerCase();\n\n    if (!macro && (t.includes(\"macro market analysis\") || t.startsWith(\"macro \"))) { \n        macro = text; \n    } else if (!meso && (t.includes(\"meso market analysis\") || t.includes(\"price & trend\"))) { \n        meso = text; \n    } else if (!micro && (t.includes(\"micro market analysis\") || t.includes(\"volatility squeeze\"))) { \n        micro = text; \n    } else if (!news && (t.includes(\"crypto news summary\") || t.includes(\"sentiment:\"))) { \n        news = text; \n    } else if (!topbottom && (t.includes(\"top & bottom\") || t.includes(\"cycle turning point\"))) { \n        topbottom = text; \n    } \n}\n\n// --- Main Loop --- \nfor (const it of items) { \n    const j = it.json;\n\n    // Scenario A: Input is an Aggregated Array (from a Merge node) \n    if (Array.isArray(j.data)) { \n        for (const d of j.data) { \n            // Try to classify AI text \n            classify(pickContent(d));\n\n            // Check for News object inside aggregation\n            if (d.indicator === \"crypto_news_summary\" && d.summary) {\n                news = `Today's Crypto News Summary\\nSource: ${d.source || \"RSS\"} | Sentiment: ${d.general_sentiment || \"N/A\"}\\n\\n${d.summary}`;\n            }\n        } \n    }\n\n    // Scenario B: Input is Single Item \n    classify(pickContent(j));\n\n    // Check for News object directly \n    if (j.indicator === \"crypto_news_summary\" && j.summary) { \n        news = `Today's Crypto News Summary\\nSource: ${j.source || \"RSS\"} | Sentiment: ${j.general_sentiment || \"N/A\"}\\n\\n${j.summary}`; \n    } \n}\n\n// --- Extract Raw Metrics & Metadata --- \nconst getJson = (name) => { try { return $(name).first().json; } catch(e) { return {}; } };\n\nconst graham = getJson('graham_value_check');\nconst liquidity = getJson('liquidity_trend');\nconst yieldData = getJson('treasury_yield');\n\n// Regex to extract Macro Bias from the macro text report\nlet macroBias = \"Mixed\";\nif (macro) {\n    const match = macro.match(/macroBias:\\s*[\"']?([^\"'\\n\\r\\]]+)[\"']?/i);\n    if (match) macroBias = match[1];\n}\n\nconst metrics = {\n    verdict: graham.verdict || \"Neutral\",\n    verdict_emojis: \"😐\", \n    drawdown: graham.drawdown_percent ? Math.round(graham.drawdown_percent) + \"%\" : \"N/A\",\n    hashrate_trend: graham.hashrate_trend || \"N/A\",\n    graham_valuation: graham.verdict || \"N/A\",\n    liquidity_trend: liquidity.status || \"N/A\",\n    yield10y: yieldData.current ? yieldData.current.toFixed(2) + \"%\" : \"N/A\",\n    macro_bias: macroBias,\n    date: new Date().toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' })\n};\n\n// Simple Emoji Logic\nconst v = metrics.verdict.toLowerCase();\nif (v.includes(\"buy\") || v.includes(\"accumulate\") || v.includes(\"value\")) metrics.verdict_emojis = \"🟢\";\nelse if (v.includes(\"sell\") || v.includes(\"overvalued\") || v.includes(\"bear\")) metrics.verdict_emojis = \"🔴\";\n\n// --- Output Construction --- \nconst out = {}; \nif (macro) out.macro = macro; \nif (meso) out.meso = meso; \nif (micro) out.micro = micro; \nif (news) out.news = news; \nif (topbottom) out.topbottom = topbottom;\nout.metrics = metrics;\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -592
      ],
      "id": "bef48f79-c010-4d3d-b30b-057f96cd8204",
      "name": "Data Clean and Debug"
    },
    {
      "parameters": {
        "content": "## Optional\nTelegram Message.",
        "height": 368,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -720
      ],
      "typeVersion": 1,
      "id": "c319c95c-83c1-4b52-aa6a-af8f125445f5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        -208
      ],
      "id": "cd94c325-c1c5-4af3-8d48-6fbd3d3fa86a",
      "name": "Clean Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2320,
        -544
      ],
      "id": "afd7a61b-fb07-46ac-bc9a-2298ce6614de",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -544
      ],
      "id": "c36f3556-ec26-48c1-b959-f7450cfd08de",
      "name": "Clean Merge2"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        -624
      ],
      "id": "bf991aee-a856-4e80-baf2-0161d0cf5c49",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -896
      ],
      "id": "b8a82c6a-949b-4fcb-8778-cb21fb88dfc3",
      "name": "Fetch Binance Ticker",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1d&limit=400",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -752
      ],
      "id": "329f4ae7-183a-4f1d-a8bd-3c043c5d6dd5",
      "name": "Fetch Binance Daily",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -608
      ],
      "id": "5e10353f-d4fb-464b-866a-4ec7c66232b7",
      "name": "Fetch Binance Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5088,
        -672
      ],
      "id": "70ba1e1f-6b15-433a-aa0d-6d116d4d6723",
      "name": "Fetch Binance Futures",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/openInterest?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -432
      ],
      "id": "17e2d1ef-750d-40be-9384-eef7046a99b5",
      "name": "Fetch Binance OI",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v7/finance/spark?symbols=^TNX,GC=F,CL=F,DX-Y.NYB,^IRX&range=1y&interval=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -128
      ],
      "id": "0da0757e-4061-4540-a641-8dd5e7ef0a8d",
      "name": "Fetch Yahoo",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/?limit=7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -288
      ],
      "id": "0a2a444a-5770-4dfb-a269-886f6bdc880f",
      "name": "Fetch FearGreed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://cryptopanic.com/news/rss/",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5424,
        48
      ],
      "id": "2595185c-a7e8-4777-9215-b3d7fd1824e5",
      "name": "Fetch CryptoPanic",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Donald+Trump+Elon+Musk+crypto",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5088,
        -368
      ],
      "id": "4ba69c4a-cadb-4fbb-bc80-b0c2b6681685",
      "name": "Fetch Google News",
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1003499566744",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -592
      ],
      "id": "d946e40b-3a27-4069-8a13-55a92c445e26",
      "name": "Send a text message",
      "webhookId": "3705f81f-3ea1-4a0c-895f-3c9091fca9a0",
      "credentials": {
        "telegramApi": {
          "id": "Wii0cnwJvc8xBoZV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=These are today's data about Bitcoin and the crypto cycle, your job is to describe where in the cycle are we. \n\nThis can be: \n\n- Early Bull Run\n- Mid Bull Run\n- Late Bull Run\n- Euphoria Phase (Bubble Territory)\n- Early Bear Market\n- Mid Bear Market\n- Late Bear Market / Bottom\n\nGive a higher ponderation to risk_context. If \"risk_context\" is \"Elevated cycle risk\" consider we are at least in Late Bull Run. \n\nFeel free to add additional notes if you find them important. \n\nDo not write more than 3-4 lines.\n\nGive this short analysis a clear title: \"Top & Bottom Watchout\"\n\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        -688
      ],
      "id": "82b369d3-de9d-4ff6-97fe-60feb6e22686",
      "name": "Top & Bottom Watchout1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior crypto market strategist.\n\nGoal: Compress the meso-level BTC snapshot in the JSON into a concise daily trading brief used alongside a separate MICRO timing model. Be a signal filter, not a narrative.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY values present in the JSON; if absent, write \"not provided\".\n- Prefer implications over raw stats (e.g., “scarcity intact” instead of listing stock/flow/block_reward numbers).\n- Price & Trend must reference only what’s in JSON (e.g., Bull Market Support Band: 20W EMA / 21W SMA, 50W MA). Do NOT invent 50D/200D if missing.\n- Momentum: use RSI if present; otherwise \"not provided\".\n- Cycle: compare price vs S2F fair_value and state rainbow zone; mention halving progress and composite/phase if present.\n- Dominance: report latest level and micro/meso/macro trend labels if present; state rotation implication.\n- Levels: list bull band (20W EMA / 21W SMA) and 50W MA as Support; include Resistance ONLY if explicitly provided; else \"not provided\".\n- Outlook: give a 2–4 week bias and a 3–6 month view tied to the levels above.\n- Triggers: one Bull and one Bear condition, explicitly tied to those levels (e.g., weekly close > band; weekly close < 50W MA).\n- Keep it actionable and compact. Plain language. No markdown, no tables.\n- Word cap: 300 words total. Use \"$\" in prices and make it easy to read with unequivocal terms and concepts (eg. Bitcoin Dominance instead of BTC.D)\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"BTC Meso Market Analysis\"\nmesoBrief:\nPrice & Trend: [...]\nMomentum: [...]\nCycle (S2F & Rainbow): [...]\nOn-chain/Issuance: [...]\nDominance & Rotation: [...]\nLevels:\n- Support: [...]\n- Resistance: [...]\nOutlook:\n- 2–4 weeks: [...]\n- 3–6 months: [...]\ntriggers:\n- Bull: [...]\n- Bear: [...]\nmesoBias: \"mildly-bullish\" | \"neutral\" | \"mildly-bearish\"\nhorizon: [\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        -400
      ],
      "id": "c0af31f8-ebeb-4659-9a0b-dbd96d00af15",
      "name": "BTC Meso Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a quantitative analyst.  \nYour task is to interpret the JSON dataset provided below — it represents the latest *micro-level indicators* for a specific crypto asset.\n\n⚠️ Important:\n- Do NOT infer, speculate, or reference macro, meso, or external market context.\n- Only describe what is explicitly shown in the data.\n- If a metric is missing or null, omit it.\n- Keep the tone factual, concise, and technical.\n- Do not provide recommendations, outlooks, or predictions.\n- Your only goal is to organize and summarize the data clearly.\n\nGive your analysis a clear title: \"BTC Micro Market Analysis\"\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        -560
      ],
      "id": "890ada51-232b-44f5-9bd7-a8cb85975e43",
      "name": "Micro Market Analysis",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a macro strategist for crypto.\n\nGoal: Produce a precise, compact macro brief + 2 short bullets on what this macro “wind” implies for BTC/ETH. This is a signal filter, not a trade call.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY numbers/fields present in the JSON; if a value is missing, write \"not provided\".\n- Prioritize numeric fields; IGNORE any long narrative strings under keys like \"message\", \"content\", \"summary\" unless they contain unique numeric facts.\n- Always assess: \n  • Liquidity Fuel (USDT 30d trend)\n  • 10Y Treasury (current; biggest % move among 30/90/180d and its direction)  \n  • Fed Funds (current; 3m and 6m change)  \n  • M2 (YoY; and whether 3m vs 6m shows acceleration or deceleration)  \n  • USD via dxy_proxy (if absent: \"USD: not provided\")  \n  • Gold (7d/30d/90d % changes)  \n  • WTI (latest; 7d and 30d % changes)\n- Call out any regime conflict (e.g., short rates ↑ while long yields ↓).\n- Round: rates to 2 decimals; % moves to 1 decimal. Plain language, no equations, no ticker spam.\n- Keep macro focus; do NOT give specific trade entries/targets/stops.\n- Max 220 words total.\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"Macro Market Analysis\"\nmacroBrief:\n1) Rates & liquidity: [...]\n2) USD, Gold, Oil: [...]\n3) Risk tone: [...]\nriskAssetsCrypto:\n- BTC: [...]\n- ETH: [...]\nmacroBias: [\"risk-on\",\"risk-off\",\"mixed\"]\nhorizon: [\"days\",\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3456,
        -208
      ],
      "id": "c517f703-20ae-455d-8572-9b37d17e44af",
      "name": "Micro Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as the Chief Editor of the \"Institutional Genesis Report\".\nYour task is to synthesize the provided metrics and analysis into a final HTML report for Telegram.\n\nCRITICAL HTML RULES:\n\nNEVER user <li> nor <ul> tags\n\nNEVER use the '&' character on its own. You MUST write it as '&amp;' every single time.\n\nBAD: \"S&P 500\"\n\nGOOD: \"S&amp;P 500\"\n\nBAD: \"MACRO & LIQUIDITY\"\n\nGOOD: \"MACRO &amp; LIQUIDITY\"\n\nDo not use Markdown (bold). Use only HTML tags (<b>, <i>, <code>).\n\nEscape < and > as &lt; and &gt;.\n\nInput Data:\nMETRICS:\n{{JSON.stringify($json.metrics)}}\n\nANALYSIS SUMMARIES:\n{{$json.macro}}\n{{$json.meso}}\n{{$json.micro}}\n{{$json.topbottom}}\n\nNEWS:\n{{$json.news}}\n\nInstructions:\n\nWrite a \"Tactical Stance\" (1 concise paragraph). Use <b>bold</b> for price levels.\n\nWrite an \"Analyst Rationale\" (1 dense technical sentence).\n\nSelect the top 3 most relevant News headlines.\n\nOutput the result using this EXACT HTML template (do not change the structure, just fill the slots):\n\n<b>📅 INSTITUTIONAL GENESIS REPORT</b> <i>{{$json.metrics.date}}</i>\n\n<b>🛑 CYCLE SIGNAL:</b> {{$json.metrics.verdict_emojis}} <b>{{$json.metrics.verdict}}</b>\n\n➖➖➖➖➖➖➖➖➖➖➖\n\n<b>🌊 MACRO &amp; LIQUIDITY</b> • <b>Regime:</b> {{$json.metrics.macro_bias}} • <b>Liquidity:</b> {{$json.metrics.liquidity_trend}} • <b>10Y Yield:</b> <code>{{$json.metrics.yield10y}}</code>\n\n<b>🏗 FUNDAMENTALS (Graham)</b> • <b>Valuation:</b> {{$json.metrics.graham_valuation}} • <b>Drawdown:</b> <code>{{$json.metrics.drawdown}}</code> • <b>Hashrate:</b> {{$json.metrics.hashrate_trend}}\n\n➖➖➖➖➖➖➖➖➖➖➖\n\n<b>🎯 TACTICAL STANCE</b> [Insert Your Escaped Tactical Stance Here]\n\n<b>🧠 ANALYST RATIONALE</b> <i>[Insert Your Escaped Rationale Here]</i>\n\n📰 <b>HEADLINES</b> [Insert Top 3 Headlines as bullet points. Ensure no naked '&' symbols exist here!]\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -592
      ],
      "id": "7138b6f4-575b-4b1b-ba39-ea612413e4dd",
      "name": "Market Stance1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes - Safe access patterns for Dead Man's Switch\nconst getJson = (nodeName) => {\n    try {\n        const node = $(nodeName).first();\n        if (!node || !node.json || node.json.error) return {};\n        return node.json;\n    } catch(e) { return {}; }\n};\n\nconst getItems = (nodeName) => {\n    try {\n        return $(nodeName).all().map(i => i.json);\n    } catch(e) { return []; }\n};\n\nconst binanceTicker = getJson('Fetch Binance Ticker');\nconst binanceWeeklyItems = getItems('Fetch Binance Weekly');\nconst binanceFutures = getJson('Fetch Binance Futures');\nconst ethBtcItems = getItems('Fetch ETHBTC Weekly');\nconst hashrateData = getJson('Fetch Hashrate');\n\n// Helpers\nfunction getValues(items, index) {\n    if (!items || items.length === 0) return [];\n    return items\n        .filter(i => Array.isArray(i) && i.length > index)\n        .map(i => parseFloat(i[index]))\n        .filter(n => !isNaN(n));\n}\n\nconst highsWeekly = getValues(binanceWeeklyItems, 2); // High is index 2\nconst ethBtcCloses = getValues(ethBtcItems, 4); // Close is index 4\n\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\nconst fundingRate = parseFloat(binanceFutures.lastFundingRate || 0);\n\n// Logic\n// 1. Margin of Safety: Drop from ATH\nlet ath = 0;\nif (highsWeekly.length > 0) {\n    ath = Math.max(...highsWeekly);\n}\n// If current price > found ath, update ath\nif (currentPrice > ath) ath = currentPrice;\n\nconst drawdownPercent = ath > 0 ? ((ath - currentPrice) / ath) * 100 : 0;\nconst isDeepValue = drawdownPercent > 40;\n\n// 2. Hashrate Trend (Network Strength)\n// blockchain.info returns { values: [ { x, y }, ... ] }\nlet hashrateTrend = \"Unknown\";\nlet currentHashrate = 0;\nlet avg60Hashrate = 0;\n\nif (hashrateData && hashrateData.values && Array.isArray(hashrateData.values) && hashrateData.values.length > 0) {\n    const values = hashrateData.values; \n    currentHashrate = values[values.length - 1].y;\n    \n    // Last 60 points\n    const slice = values.slice(Math.max(0, values.length - 60));\n    if (slice.length > 0) {\n        const sum = slice.reduce((acc, v) => acc + v.y, 0);\n        avg60Hashrate = sum / slice.length;\n        hashrateTrend = currentHashrate > avg60Hashrate ? \"Growing\" : \"Declining\";\n    }\n}\n\n// 3. Rotation: Check if ETHBTC Close > 20-Week SMA\nlet rotationRegime = \"Unknown\";\nlet ethBtcSMA20 = 0;\nlet currentEthBtc = 0;\n\nif (ethBtcCloses.length >= 20) {\n    currentEthBtc = ethBtcCloses[ethBtcCloses.length - 1];\n    const slice = ethBtcCloses.slice(ethBtcCloses.length - 20);\n    ethBtcSMA20 = slice.reduce((a, b) => a + b, 0) / 20;\n    \n    rotationRegime = currentEthBtc > ethBtcSMA20 ? \"Altseason/Risk-On\" : \"Bitcoin Season\";\n}\n\n// 4. Contrarian Signal: If Funding Rate is NEGATIVE (< 0)\nconst isContrarianBuy = fundingRate < 0;\n\n// Verdict\nlet verdict = \"Neutral\";\nlet reasoning = `Drawdown: ${drawdownPercent.toFixed(1)}% (ATH: $${ath.toFixed(0)}), Funding: ${(fundingRate*100).toFixed(4)}%`;\n\nif (isDeepValue && isContrarianBuy) {\n    verdict = \"Deep Value (Strong Buy)\";\n    reasoning += \". >40% Drawdown + Negative Funding.\";\n} else if (drawdownPercent < 20 && fundingRate > 0.0005) { \n    verdict = \"Overvalued\"; \n    reasoning += \". Price near highs with high leverage.\";\n} else if (hashrateTrend === \"Growing\" && rotationRegime === \"Bitcoin Season\") {\n    if (drawdownPercent > 20) {\n        verdict = \"Accumulate\";\n        reasoning += \". Strong network + Bitcoin Season.\";\n    }\n}\n\nreturn [{\n    json: {\n        indicator: \"graham_analysis\",\n        verdict: verdict,\n        reasoning: reasoning,\n        drawdown_percent: drawdownPercent,\n        funding_rate: fundingRate,\n        hashrate_trend: hashrateTrend,\n        rotation_regime: rotationRegime,\n        contrarian_signal: isContrarianBuy\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        32
      ],
      "id": "8918a67b-915a-4272-afc8-6e035f4c2cc1",
      "name": "graham_value_check"
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastTelegramSentTime = new Date().toISOString();\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -592
      ],
      "id": "b8eec2a5-7ec1-4c9c-8304-ba3fd3107776",
      "name": "Update Last Telegram Time"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3600,
        -592
      ],
      "id": "503165da-ee9b-40f0-adb8-d364ce7a7e8d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        -544
      ],
      "id": "e3035274-7dc7-4904-ac2b-67813005701f",
      "name": "Clean Merge1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3616,
        -1120
      ],
      "id": "2622e698-a0d1-45a7-9318-26330422a42a",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        -1104
      ],
      "id": "df02a802-413f-4f67-8bb7-9bb09138f3d4",
      "name": "Clean Merge4"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=ETHBTC&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5088,
        -496
      ],
      "id": "8239d284-9b0e-402e-b82b-66384c0097d6",
      "name": "Fetch ETHBTC Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.blockchain.info/charts/hash-rate?timespan=1year&format=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        208
      ],
      "id": "91a0cb2f-21ac-4f2e-a228-8b7230342646",
      "name": "Fetch Hashrate",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/tether/market_chart?vs_currency=usd&days=90&interval=daily",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        336
      ],
      "id": "c7ac120d-e332-477b-b22f-e330377538b4",
      "name": "Fetch Liquidity",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst data = $('Fetch Liquidity').first().json;\n\n// Parsers & Helpers\nlet result = {};\n\nif (data && data.market_caps && Array.isArray(data.market_caps)) {\n    const caps = data.market_caps;\n    // CoinGecko market_caps is [[timestamp, value], ...]\n    // Sorted oldest to newest\n    \n    const current = caps[caps.length - 1][1];\n    const prev30 = caps[caps.length - 31] ? caps[caps.length - 31][1] : caps[0][1];\n    const prev90 = caps[0][1]; // Approx 90 days ago given API call\n    \n    const change30d = ((current - prev30) / prev30) * 100;\n    const change90d = ((current - prev90) / prev90) * 100;\n    \n    const status = change30d > 0 ? \"Expansion\" : \"Contraction\";\n    const implication = change30d > 0 ? \"Fuel entering ecosystem\" : \"Liquidity exit\";\n    \n    result = {\n        indicator: \"usdt_liquidity\",\n        market_cap: current,\n        trend_30d_percent: change30d,\n        trend_90d_percent: change90d,\n        status: status,\n        implication: implication\n    };\n} else {\n     result = {\n        indicator: \"usdt_liquidity\",\n        error: \"No data\"\n    };\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        208
      ],
      "id": "f266b6a0-2165-4e58-9e67-861adffc1fc0",
      "name": "liquidity_trend"
    },
    {
      "parameters": {
        "prompt": "=Macro: {{$json.macro}}\n\nLiquidity: {{$json.metrics.liquidity_trend}}\n\nNews: {{$json.news}}\n\nDate: {{$json.metrics.date}}\n\nSystem Instructions:\n\nYou are the Social Media Manager for \"Institutional Genesis Report\" (@DailyGenReport).\n**GOAL:** Write a high-engagement daily tweet summarizing the market \"Weather\" based on the provided Macro and Liquidity data.\n**RULES:**\n1. **Public Teaser Only:** Discuss the Macro Regime (Risk-On/Off) and Liquidity Trend. DO NOT reveal the \"Graham Verdict\", \"Tactical Stance\", or specific \"Buy/Sell\" signals. Those are for paid subscribers.\n2. **Format:**\n   - Hook: A short, punchy observation about the day's data (e.g., \"Liquidity is expanding, but yields are stubborn.\").\n   - Body: 3 bullet points using emojis (🌊, 🏦, 📰) summarizing Macro, Yields, and top News.\n   - Closing: A curiosity gap.\n   - CTA: \"Full tactical signals & entry levels in the Daily Report 👇 [Link]\"\n3. **Tone:** Professional, institutional, data-driven. No \"moonboi\" slang.\n4. **Length:** Under 280 characters if possible, or strictly formatted for a short thread.\n5. **No HTML:** Use plain text only."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        128,
        -336
      ],
      "id": "e855f86b-de4b-4dcb-a52f-52421c1c7587",
      "name": "Twitter Composer"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [
        480,
        -336
      ],
      "id": "475a183a-d859-4095-91b4-3d7e3c255d81",
      "name": "Twitter Post",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "9iWZ4fgjZDOGwwp2",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -96
      ],
      "id": "115c8c73-c3fb-4cd6-ab10-8f0131b6ba59",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Macro Context Analysis1": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Clean and Debug1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Data Clean and Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge3": {
      "main": [
        [
          {
            "node": "Micro Market Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "treasury_yield": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fed_funds_rate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "macro_news_summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_overview": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "gold_price_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Binance Ticker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Yahoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CryptoPanic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FearGreed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance OI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Futures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ETHBTC Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Hashrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Liquidity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dxy_proxy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "crude_oil_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "btc_price_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "rsi14": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fear_greed_index_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_funding_rate": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "crypto_news_summary": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_open_interest": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_200wma_distance": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsi14_trend": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "bull_market_support_band": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "50wma": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ma50_ma200_trend": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pi_cycle_top": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "halving_cycle": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge Meso": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Top&Bottom": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Clean and Debug": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Composer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge": {
      "main": [
        [
          {
            "node": "Micro Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Clean Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge2": {
      "main": [
        [
          {
            "node": "Top & Bottom Watchout1",
            "type": "main",
            "index": 0
          },
          {
            "node": "BTC Meso Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Clean Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Ticker": {
      "main": [
        [
          {
            "node": "btc_overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Daily": {
      "main": [
        [
          {
            "node": "rsi14_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "ma50_ma200_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "pi_cycle_top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "bull_market_support_band",
            "type": "main",
            "index": 0
          },
          {
            "node": "50wma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Futures": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "btc_funding_rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance OI": {
      "main": [
        [
          {
            "node": "btc_open_interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo": {
      "main": [
        [
          {
            "node": "treasury_yield",
            "type": "main",
            "index": 0
          },
          {
            "node": "fed_funds_rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "dxy_proxy",
            "type": "main",
            "index": 0
          },
          {
            "node": "gold_price_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "crude_oil_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FearGreed": {
      "main": [
        [
          {
            "node": "fear_greed_index_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CryptoPanic": {
      "main": [
        [
          {
            "node": "crypto_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News": {
      "main": [
        [
          {
            "node": "macro_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top & Bottom Watchout1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BTC Meso Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Micro Market Analysis": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Micro Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Stance1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "graham_value_check": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update Last Telegram Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clean Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge1": {
      "main": [
        [
          {
            "node": "btc_200wma_distance",
            "type": "main",
            "index": 0
          },
          {
            "node": "graham_value_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Clean Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge4": {
      "main": [
        [
          {
            "node": "btc_price_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ETHBTC Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Hashrate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Fetch Liquidity": {
      "main": [
        [
          {
            "node": "liquidity_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "liquidity_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Binance Ticker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ETHBTC Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FearGreed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Yahoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CryptoPanic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Hashrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Liquidity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance OI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Futures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Composer": {
      "main": [
        [
          {
            "node": "Twitter Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Twitter Composer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f880fdfc-ef41-4979-8469-33d98f3cb1f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8748a89ba0a07ced721aa28816660fdc66500ea257b33db469e712184fd16c7"
  },
  "id": "Gsqq1LETYFzaV4Cf",
  "tags": [
    {
      "updatedAt": "2025-11-28T01:31:08.890Z",
      "createdAt": "2025-11-28T01:31:08.890Z",
      "id": "NOcXYUzjMxUFKSXL",
      "name": "Free Automation"
    }
  ]
}