Phil Crypto Investment Insight.json
{
  "name": "Phil Crypto Investment Insight",
  "nodes": [
    {
      "parameters": {
        "content": "## Macro Context \n",
        "height": 1360,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4288,
        -864
      ],
      "typeVersion": 1,
      "id": "4f9c4f6f-4c7e-4664-b10f-57a0cbf0fd70",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3872,
        -672
      ],
      "id": "3e320bfd-afb5-4836-b06c-78150c62a305",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Micro Context\n",
        "height": 1360,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -864
      ],
      "typeVersion": 1,
      "id": "e225eb66-a321-4768-903f-24f9bbad4246",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        -320
      ],
      "id": "5c8659c1-e62f-4562-9bdb-85e702ec1b6e",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -240
      ],
      "id": "7999c800-70f8-4fc3-a08b-5bb053a0c1e9",
      "name": "Clean Merge3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5920,
        -256
      ],
      "id": "4129d2c4-bd73-4cd0-858d-8e3c74a923e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\nlet result = {};\n\nconst series = getYahooSeries('^TNX');\nconst current = series[series.length - 1];\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nconst prev180 = series[series.length - 180] || current;\nresult = {\n    indicator: \"treasury_yield\",\n    current: current,\n    change_30d: current - prev30,\n    change_90d: current - prev90,\n    change_180d: current - prev180,\n    direction: current > prev30 ? \"up\" : \"down\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -704
      ],
      "id": "768434c9-1ec7-41d2-ae27-eb3313f5972d",
      "name": "treasury_yield"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('^IRX'); // 13 Week T-Bill as proxy\nconst current = series[series.length - 1];\nconst prev90 = series[series.length - 90] || current; // ~3m\nconst prev180 = series[series.length - 180] || current; // ~6m\nresult = {\n    indicator: \"fed_funds_rate\",\n    current: current,\n    change_3m: current - prev90,\n    change_6m: current - prev180,\n    note: \"Using ^IRX (13 Week T-Bill) as proxy\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -560
      ],
      "id": "b6a695d0-736a-47fe-9760-c5f63cdddb96",
      "name": "fed_funds_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst googleNewsData = $('Fetch Google News').first().json;\nlet xml = \"\";\n\n// Robustly find the XML string\nif (typeof googleNewsData === 'string') xml = googleNewsData;\nelse if (googleNewsData && typeof googleNewsData.data === 'string') xml = googleNewsData.data;\nelse if (googleNewsData && typeof googleNewsData.content === 'string') xml = googleNewsData.content;\nelse if (googleNewsData && typeof googleNewsData.xml === 'string') xml = googleNewsData.xml;\nelse xml = JSON.stringify(googleNewsData); // Fallback\n\n// State Management\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\n// Parse Items\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\n// Format Output\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"macro_news_summary\",\n        content: titles,\n        summary: titles,\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -416
      ],
      "id": "0c96f8d4-2b72-48eb-8137-ac67fc8a46c7",
      "name": "macro_news_summary"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\n\n\nlet result = {};\n\nresult = {\n    indicator: \"btc_overview\",\n    price: parseFloat(binanceTicker.lastPrice),\n    change_24h: parseFloat(binanceTicker.priceChangePercent)\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -272
      ],
      "id": "32ab4dd6-d5d6-4d0c-83d8-0507d257cfa4",
      "name": "btc_overview"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('GC=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nresult = {\n    indicator: \"gold_price_trend\",\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100,\n    change_90d: ((current - prev90)/prev90)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        192
      ],
      "id": "75043319-02f6-47be-b4ae-67c733c8cc9c",
      "name": "gold_price_trend"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5920,
        -448
      ],
      "id": "e11e145e-f4cc-40c7-bfbd-a0e4fc29bd90",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('DX-Y.NYB');\nconst current = series[series.length - 1];\nresult = {\n    indicator: \"dxy_proxy\",\n    value: current\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        32
      ],
      "id": "2fec67e0-81ca-4911-8d9d-0261d861f4af",
      "name": "dxy_proxy"
    },
    {
      "parameters": {
        "content": "## Real Data Sources\n\nThis workflow is now configured to fetch live data from:\n\n- **Binance**: BTC Price & Candles\n- **Yahoo Finance**: Gold, Oil, Yields\n- **Alternative.me**: Fear & Greed\n- **CryptoPanic**: Crypto News\n- **Google News**: Macro/Trump News",
        "height": 1360,
        "width": 1232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5520,
        -864
      ],
      "typeVersion": 1,
      "id": "b70da9c1-72be-4cc8-abf9-1045a58236ac",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('CL=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nresult = {\n    indicator: \"crude_oil_trend\",\n    price: current,\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        336
      ],
      "id": "38c600e8-cb27-47d2-a6e3-210a3962e972",
      "name": "crude_oil_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json || {};\n// Use safe access to handle potential failures\nconst binanceDailyNode = $('Fetch Binance Daily').all();\nconst binanceDailyItems = binanceDailyNode.length > 0 ? binanceDailyNode.map(i => i.json).filter(i => i) : [];\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    if (!items || items.length === 0) return [];\n    // item is usually array [time, open, high, low, close, ...]\n    // Filter out invalid items (like error objects)\n    return items\n        .filter(i => Array.isArray(i) && i.length > 4)\n        .map(i => parseFloat(i[4]))\n        .filter(n => !isNaN(n));\n}\nconst closesDaily = getCloses(binanceDailyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction stdDev(values, period, average) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const squareDiffs = slice.map(value => Math.pow(value - average, 2));\n    const avgSquareDiff = squareDiffs.reduce((a, b) => a + b, 0) / period;\n    return Math.sqrt(avgSquareDiff);\n}\n\n// Indicator Logic\nlet result = {};\n\nif (closesDaily.length >= 20) {\n    const ma50 = sma(closesDaily, 50);\n    const ma20 = sma(closesDaily, 20);\n    const sd20 = stdDev(closesDaily, 20, ma20);\n    \n    const upper = ma20 + (2 * sd20);\n    const lower = ma20 - (2 * sd20);\n    \n    // BBW: (Upper - Lower) / Middle\n    const bbw = (ma20 !== 0) ? (upper - lower) / ma20 : 0;\n    \n    // Volatility Squeeze: Check if BBW is near 6-month low\n    let minBBW = 9999;\n    let bbwHistory = [];\n    const lookback = 180;\n    \n    // We calculate BBW history\n    for (let i = 0; i < lookback; i++) {\n        let idx = closesDaily.length - 1 - i;\n        if (idx < 20) break;\n        \n        let slice = closesDaily.slice(idx - 19, idx + 1);\n        let avg = slice.reduce((a, b) => a + b, 0) / 20;\n        \n        // Optimize: we just need avg for BBW calc? No we need SD.\n        // Doing full SD calc 180 times is fine for n8n code node (JS is fast enough).\n        let sqDiffs = slice.map(v => Math.pow(v - avg, 2));\n        let sd = Math.sqrt(sqDiffs.reduce((a, b) => a + b, 0) / 20);\n        \n        let u = avg + 2 * sd;\n        let l = avg - 2 * sd;\n        if (avg !== 0) {\n            bbwHistory.push((u - l) / avg);\n        }\n    }\n    \n    if (bbwHistory.length > 0) {\n        minBBW = Math.min(...bbwHistory);\n        // \"Near 6-month low\": Within 10% of the minimum\n        result.volatility_squeeze = bbw <= (minBBW * 1.10);\n    } else {\n        result.volatility_squeeze = false;\n    }\n    \n    result.bbw = bbw;\n\n    const trend = currentPrice > ma50 ? \"bullish\" : \"bearish\";\n    result.indicator = \"btc_price_trend\";\n    result.price = currentPrice;\n    result.trend = trend;\n} else {\n     // Handle missing data or API failure\n     result = {\n        indicator: \"btc_price_trend\",\n        price: currentPrice,\n        trend: \"neutral\",\n        error: \"Insufficient data\"\n    };\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -448
      ],
      "id": "781fd789-4fca-4d12-9db5-3f10e966409b",
      "name": "btc_price_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = rsi(closesDaily, 14);\nresult = {\n    indicator: \"rsi14\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -592
      ],
      "id": "d3a82050-1212-4480-97d0-07bdbb289632",
      "name": "rsi14"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst fearGreed = $('Fetch FearGreed').first().json;\n\n\n// Parsers & Helpers\n\n// Indicator Logic\nlet result = {};\n\nconst fng = fearGreed.data ? fearGreed.data[0] : { value: 50, value_classification: \"Neutral\" };\nresult = {\n    indicator: \"fear_greed_index_trend\",\n    value: parseInt(fng.value),\n    sentiment: fng.value_classification\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -304
      ],
      "id": "0c6db624-8135-468a-b771-a14fd57804c5",
      "name": "fear_greed_index_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceFutures = $('Fetch Binance Futures').first().json;\n\n// Parsers & Helpers\nlet result = {};\n\n// Binance funding rate is usually small number (e.g. 0.0001)\nconst rate = parseFloat(binanceFutures.lastFundingRate || 0);\nresult = {\n    indicator: \"btc_funding_rate\",\n    value: rate\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -160
      ],
      "id": "6b7eb0ac-261f-43fb-80c6-8a5a033026cc",
      "name": "btc_funding_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst cryptoPanicData = $('Fetch CryptoPanic').first().json;\nlet xml = \"\";\n\nif (typeof cryptoPanicData === 'string') xml = cryptoPanicData;\nelse if (cryptoPanicData && typeof cryptoPanicData.data === 'string') xml = cryptoPanicData.data;\nelse if (cryptoPanicData && typeof cryptoPanicData.content === 'string') xml = cryptoPanicData.content;\nelse xml = JSON.stringify(cryptoPanicData);\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"crypto_news_summary\",\n        summary: titles,\n        source: \"CryptoPanic RSS\",\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        160
      ],
      "id": "d7b97ce8-2bfe-4e8c-b2c7-e87f99a036ef",
      "name": "crypto_news_summary"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\n\nconst binanceOI = $('Fetch Binance OI').first().json;\n\n\n// Parsers & Helpers\n\n\nlet result = {};\n\nconst oi = parseFloat(binanceOI.openInterest || 0);\nresult = {\n    indicator: \"btc_open_interest\",\n    value: oi\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        16
      ],
      "id": "92b7c77b-c9ce-433d-852b-35af4e06508d",
      "name": "btc_open_interest"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nlet result = {};\n\nconst ma200w = sma(closesWeekly, 200);\nconst dist = ((currentPrice - ma200w) / ma200w) * 100;\nresult = {\n    indicator: \"btc_200wma_distance\",\n    distance_percent: dist\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -592
      ],
      "id": "0268b0ba-3af3-4cb1-8222-a2b42e5f530f",
      "name": "btc_200wma_distance"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n\nlet result = {};\n\nconst currentRsi = rsi(closesDaily, 14);\nconst prevRsi = rsi(closesDaily.slice(0, -1), 14);\nresult = {\n    indicator: \"rsi14_trend\",\n    trend: currentRsi > prevRsi ? \"rising\" : \"falling\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -480
      ],
      "id": "52196330-875a-4f12-b056-b26e665afda0",
      "name": "rsi14_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction ema(values, period) {\n    if (values.length < period) return 0;\n    const k = 2 / (period + 1);\n    let ema = values[0]; // Start with the first value\n    // Iterate from the second value to the end\n    for (let i = 1; i < values.length; i++) {\n        ema = values[i] * k + ema * (1 - k);\n    }\n    return ema;\n}\n\n// Indicator Logic\nlet result = {};\n\nconst ema20w = ema(closesWeekly, 20);\nconst sma21w = sma(closesWeekly, 21);\nresult = {\n    indicator: \"bull_market_support_band\",\n    support_level: (ema20w + sma21w) / 2, // Average of the band\n    description: \"20W EMA / 21W SMA\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -352
      ],
      "id": "29f2e783-df29-431d-8ad6-d3de64b068ee",
      "name": "bull_market_support_band"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = sma(closesWeekly, 50);\nresult = {\n    indicator: \"50wma\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -208
      ],
      "id": "c9d9eb4f-a0a9-4627-b745-7b31c21b223f",
      "name": "50wma"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst ma50 = sma(closesDaily, 50);\nconst ma200 = sma(closesDaily, 200);\nresult = {\n    indicator: \"ma50_ma200_trend\",\n    status: (ma50 > ma200) ? \"bullish\" : \"bearish\",\n    description: \"MA50 vs MA200\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        -80
      ],
      "id": "1e5191f9-74cd-457e-919b-a028edb5da66",
      "name": "ma50_ma200_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst dma111 = sma(closesDaily, 111);\nconst dma350x2 = sma(closesDaily, 350) * 2;\nresult = {\n    indicator: \"pi_cycle_top\",\n    is_top: dma111 > dma350x2,\n    description: \"111DMA vs 350DMA*2\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        48
      ],
      "id": "cb851938-d3ce-4147-b8f3-6c7667b665d4",
      "name": "pi_cycle_top"
    },
    {
      "parameters": {
        "jsCode": "\n\n\n\nlet result = {};\n\n// Next halving approx April 2028?\n// Last halving April 2024.\nconst now = new Date();\nconst lastHalving = new Date('2024-04-19');\nconst nextHalving = new Date('2028-04-19');\nconst totalTime = nextHalving - lastHalving;\nconst elapsedTime = now - lastHalving;\nconst progress = (elapsedTime / totalTime) * 100;\nresult = {\n    indicator: \"halving_cycle\",\n    progress_percent: progress,\n    phase: \"post-halving\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        208
      ],
      "id": "0a579769-3364-4326-aecd-88256d91bf66",
      "name": "halving_cycle"
    },
    {
      "parameters": {
        "content": "## Meso Context\n\n",
        "height": 1360,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3168,
        -864
      ],
      "typeVersion": 1,
      "id": "742fed7c-b9ba-4c6b-9365-9a5b88581646",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2496,
        -512
      ],
      "id": "cb2a96d4-8571-48c0-8353-0eccd0ff7bd7",
      "name": "Merge Meso"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2464,
        32
      ],
      "id": "50e35e66-acc4-4c3e-897f-c8e4b77862b1",
      "name": "Merge Top&Bottom"
    },
    {
      "parameters": {
        "jsCode": "// === Unified Market Insights Cleaner (no message / biweekly) ===\n// Mode: Run Once for All Items\nconst items = $input.all();\n\nlet macro, meso, micro, news, topbottom;\n\n// --- Helper to extract content from different formats ---\nfunction pickContent(d) {\n  return (\n    d?.choices?.[0]?.message?.content ??\n    d?.message?.content ??\n    d?.content ??\n    null\n  );\n}\n\n// --- Text classifier (keeps your original labels) ---\nfunction classify(text) {\n  if (!text || typeof text !== \"string\") return;\n  const t = text.toLowerCase();\n\n  if (!macro && (t.startsWith(\"macro \") || t.includes(\"macro market analysis\")))\n    macro = text;\n  else if (\n    !meso &&\n    (t.includes(\"meso market analysis\") || t.includes(\"price & trend (weekly)\"))\n  )\n    meso = text;\n  else if (\n    !micro &&\n    (t.includes(\"micro market analysis\") ||\n      (t.includes(\"snapshot\") && t.includes(\"delta_7d\")))\n  )\n    micro = text;\n  else if (\n    !news &&\n    (t.includes(\"today's crypto news summary\") ||\n      t.includes(\"not\u00edcias\") ||\n      t.includes(\"news\"))\n  )\n    news = text;\n  else if (\n    !topbottom &&\n    (t.includes(\"top & bottom watchout\") ||\n      t.includes(\"top and bottom watchout\") ||\n      t.includes(\"bull top & bear bottom\") ||\n      t.includes(\"bull top and bear bottom\") ||\n      t.includes(\"cycle turning point watch\"))\n  )\n    topbottom = text;\n}\n\n// --- Main loop ---\nfor (const it of items) {\n  const j = it.json;\n\n  // \ud83e\udde9 GPT analysis blocks (arrays)\n  if (Array.isArray(j.data)) {\n    for (const d of j.data) classify(pickContent(d));\n  }\n\n  // \ud83e\udde9 Direct content blocks\n  const text = pickContent(j);\n  if (text) classify(text);\n\n  // \ud83d\udcf0 News API blocks\n  if (j.indicator === \"crypto_news_summary\" && j.summary) {\n    news =\n      `Today's Crypto News Summary\\n` +\n      `Source: ${j.source || \"Unknown\"} | Sentiment: ${\n        j.general_sentiment || \"N/A\"\n      } (${j.sentiment_score || \"-\"})\\n\\n` +\n      j.summary;\n  }\n}\n\n// --- Build output only with existing fields ---\nconst out = {};\nif (macro) out.macro = macro;\nif (meso) out.meso = meso;\nif (micro) out.micro = micro;\nif (news) out.news = news;\nif (topbottom) out.topbottom = topbottom;\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -272
      ],
      "id": "a50c7e4c-86ef-40c7-b180-1d7e557b1fcd",
      "name": "Data Clean and Debug"
    },
    {
      "parameters": {
        "content": "## Optional\nTelegram Message.",
        "height": 368,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -400
      ],
      "typeVersion": 1,
      "id": "59f9e867-411f-4621-ae2f-0f5a64fdad51",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3696,
        -640
      ],
      "id": "0849ead7-d66c-4929-9012-0ff86bf31d7f",
      "name": "Clean Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2320,
        -224
      ],
      "id": "e0cf48b2-8cd9-477d-be97-77be1630908c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -224
      ],
      "id": "d8edc60d-951d-48b0-bfd6-0341d608ea32",
      "name": "Clean Merge2"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        -304
      ],
      "id": "97502045-92b7-4d7b-b5dd-0af7d2fd4de1",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -576
      ],
      "id": "85065caa-2de6-469a-9e13-a88f3cf81620",
      "name": "Fetch Binance Ticker",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1d&limit=400",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -432
      ],
      "id": "6031660a-799f-4ea7-a8f8-82e1b78fa02e",
      "name": "Fetch Binance Daily",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -288
      ],
      "id": "c6ad4607-9c2f-4e4d-8d55-5d733d3f894c",
      "name": "Fetch Binance Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5088,
        -352
      ],
      "id": "a91fb611-ee5a-4350-b647-84e9e70bf166",
      "name": "Fetch Binance Futures",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/openInterest?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -112
      ],
      "id": "c386d6b7-30c2-4ee0-bd1e-91840c588333",
      "name": "Fetch Binance OI",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v7/finance/spark?symbols=^TNX,GC=F,CL=F,DX-Y.NYB,^IRX&range=1y&interval=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        192
      ],
      "id": "93c96439-43d4-4b55-8345-d390107f5254",
      "name": "Fetch Yahoo",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/?limit=7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        32
      ],
      "id": "57ccb7bc-f364-4cd6-b838-28b5ff7f3d8f",
      "name": "Fetch FearGreed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://cryptopanic.com/news/rss/",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5424,
        352
      ],
      "id": "9e4d767d-252f-4e9a-b431-5932371bc73c",
      "name": "Fetch CryptoPanic",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Donald+Trump+Elon+Musk+crypto",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5088,
        -48
      ],
      "id": "57a6987b-76fa-4315-ba54-183e8fca218d",
      "name": "Fetch Google News",
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1003480857416",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -272
      ],
      "id": "4db0a9f2-0de2-431a-a079-397402637d26",
      "name": "Send a text message",
      "webhookId": "3705f81f-3ea1-4a0c-895f-3c9091fca9a0",
      "credentials": {
        "telegramApi": {
          "id": "Wii0cnwJvc8xBoZV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=These are today's data about Bitcoin and the crypto cycle, your job is to describe where in the cycle are we. \n\nThis can be: \n\n- Early Bull Run\n- Mid Bull Run\n- Late Bull Run\n- Euphoria Phase (Bubble Territory)\n- Early Bear Market\n- Mid Bear Market\n- Late Bear Market / Bottom\n\nGive a higher ponderation to risk_context. If \"risk_context\" is \"Elevated cycle risk\" consider we are at least in Late Bull Run. \n\nFeel free to add additional notes if you find them important. \n\nDo not write more than 3-4 lines.\n\nGive this short analysis a clear title: \"Top & Bottom Watchout\"\n\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        -368
      ],
      "id": "dd4fec19-9ce2-4f1b-91b5-f7bb23911ffe",
      "name": "Top & Bottom Watchout1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior crypto market strategist.\n\nGoal: Compress the meso-level BTC snapshot in the JSON into a concise daily trading brief used alongside a separate MICRO timing model. Be a signal filter, not a narrative.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY values present in the JSON; if absent, write \"not provided\".\n- Prefer implications over raw stats (e.g., \u201cscarcity intact\u201d instead of listing stock/flow/block_reward numbers).\n- Price & Trend must reference only what\u2019s in JSON (e.g., Bull Market Support Band: 20W EMA / 21W SMA, 50W MA). Do NOT invent 50D/200D if missing.\n- Momentum: use RSI if present; otherwise \"not provided\".\n- Cycle: compare price vs S2F fair_value and state rainbow zone; mention halving progress and composite/phase if present.\n- Dominance: report latest level and micro/meso/macro trend labels if present; state rotation implication.\n- Levels: list bull band (20W EMA / 21W SMA) and 50W MA as Support; include Resistance ONLY if explicitly provided; else \"not provided\".\n- Outlook: give a 2\u20134 week bias and a 3\u20136 month view tied to the levels above.\n- Triggers: one Bull and one Bear condition, explicitly tied to those levels (e.g., weekly close > band; weekly close < 50W MA).\n- Keep it actionable and compact. Plain language. No markdown, no tables.\n- Word cap: 300 words total. Use \"$\" in prices and make it easy to read with unequivocal terms and concepts (eg. Bitcoin Dominance instead of BTC.D)\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"BTC Meso Market Analysis\"\nmesoBrief:\nPrice & Trend: [...]\nMomentum: [...]\nCycle (S2F & Rainbow): [...]\nOn-chain/Issuance: [...]\nDominance & Rotation: [...]\nLevels:\n- Support: [...]\n- Resistance: [...]\nOutlook:\n- 2\u20134 weeks: [...]\n- 3\u20136 months: [...]\ntriggers:\n- Bull: [...]\n- Bear: [...]\nmesoBias: \"mildly-bullish\" | \"neutral\" | \"mildly-bearish\"\nhorizon: [\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        -80
      ],
      "id": "1fe25910-037b-47b7-b03f-e51799df58e0",
      "name": "BTC Meso Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a quantitative analyst.  \nYour task is to interpret the JSON dataset provided below \u2014 it represents the latest *micro-level indicators* for a specific crypto asset.\n\n\u26a0\ufe0f Important:\n- Do NOT infer, speculate, or reference macro, meso, or external market context.\n- Only describe what is explicitly shown in the data.\n- If a metric is missing or null, omit it.\n- Keep the tone factual, concise, and technical.\n- Do not provide recommendations, outlooks, or predictions.\n- Your only goal is to organize and summarize the data clearly.\n\nGive your analysis a clear title: \"BTC Micro Market Analysis\"\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        -240
      ],
      "id": "2fe4a6f7-12fd-4e9b-8b53-50dc132860c0",
      "name": "Micro Market Analysis",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a macro strategist for crypto.\n\nGoal: Produce a precise, compact macro brief + 2 short bullets on what this macro \u201cwind\u201d implies for BTC/ETH. This is a signal filter, not a trade call.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY numbers/fields present in the JSON; if a value is missing, write \"not provided\".\n- Prioritize numeric fields; IGNORE any long narrative strings under keys like \"message\", \"content\", \"summary\" unless they contain unique numeric facts.\n- Always assess: \n  \u2022 10Y Treasury (current; biggest % move among 30/90/180d and its direction)  \n  \u2022 Fed Funds (current; 3m and 6m change)  \n  \u2022 M2 (YoY; and whether 3m vs 6m shows acceleration or deceleration)  \n  \u2022 USD via dxy_proxy (if absent: \"USD: not provided\")  \n  \u2022 Gold (7d/30d/90d % changes)  \n  \u2022 WTI (latest; 7d and 30d % changes)\n- Call out any regime conflict (e.g., short rates \u2191 while long yields \u2193).\n- Round: rates to 2 decimals; % moves to 1 decimal. Plain language, no equations, no ticker spam.\n- Keep macro focus; do NOT give specific trade entries/targets/stops.\n- Max 220 words total.\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"Macro Market Analysis\"\nmacroBrief:\n1) Rates & liquidity: [...]\n2) USD, Gold, Oil: [...]\n3) Risk tone: [...]\nriskAssetsCrypto:\n- BTC: [...]\n- ETH: [...]\nmacroBias: [\"risk-on\",\"risk-off\",\"mixed\"]\nhorizon: [\"days\",\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3504,
        -640
      ],
      "id": "1bc073a6-995d-4fed-abcc-3fb73330e722",
      "name": "Micro Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Imagine you are a crypto market analyst. You don\u2019t give advice about short-term movements \u2014 only about opportunities to accumulate or exit from a cycle perspective.\n\nIf there are key levels to watch, you may mention them as long as they are relevant to the mid-term cycle investment strategy. \n\nThe overall rule is: if there\u2019s still time left in the bull run and a consolidation opportunity appears, you may want to accumulate. If the market is overextended or a major reversal into a bear market seems near, you may want to exit.\n\nThe main goal is to make great entries and exits at cycle tops and bottoms, while navigating bull and bear phases through local opportunities.\n\nIf key levels are in sight, or the base case suggests that supports or resistances are coming soon, manage current entries or exits with that base case in mind \u2014 assuming there\u2019s a chance it might happen and acting accordingly.\n\nI don\u2019t want confusing \u201cifs.\u201d I want to know what to do now, focusing only on your strongest base case for the cycle. \n\nI don\u2019t want local trims or nibbles, and I don\u2019t care about short-term wins or losses. I just want to take advantage of the market cycle on a macro level.\n\nConsider the current picture and the most likely base case, and act accordingly \u2014 without adding extra conditions.\n\nAssume I may or may not have already entered the market; refer to both possibilities clearly, including specific price levels or zones that might be of interest.\n\nMention altcoins briefly.\n\nMention relevant news briefly for additional context on sentiment.\n\nWrite a single, simple, easy-to-follow paragraph \u2014 no bullet points \u2014 using a natural, informal tone, as if explaining to a friend.\n\nAt the end, add a short, dense, and technical justification labeled \u201cReasoning:\u201d, separated with a double line break. \n\nINPUT:\n{{ $json.macro }}\n{{ $json.meso }}\n{{ $json.micro }}\n{{ $json.news }}\n{{ $json.topbottom }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -272
      ],
      "id": "0e786b3f-21d1-4faf-b5ab-dd02e6ba3483",
      "name": "Market Stance1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes - Safe access patterns for Dead Man's Switch\nconst getJson = (nodeName) => {\n    try {\n        const node = $(nodeName).first();\n        if (!node || !node.json || node.json.error) return {};\n        return node.json;\n    } catch(e) { return {}; }\n};\n\nconst getItems = (nodeName) => {\n    try {\n        return $(nodeName).all().map(i => i.json);\n    } catch(e) { return []; }\n};\n\nconst binanceTicker = getJson('Fetch Binance Ticker');\nconst binanceWeeklyItems = getItems('Fetch Binance Weekly');\nconst binanceFutures = getJson('Fetch Binance Futures');\nconst ethBtcItems = getItems('Fetch ETHBTC Weekly');\nconst hashrateData = getJson('Fetch Hashrate');\n\n// Helpers\nfunction getValues(items, index) {\n    if (!items || items.length === 0) return [];\n    return items\n        .filter(i => Array.isArray(i) && i.length > index)\n        .map(i => parseFloat(i[index]))\n        .filter(n => !isNaN(n));\n}\n\nconst highsWeekly = getValues(binanceWeeklyItems, 2); // High is index 2\nconst ethBtcCloses = getValues(ethBtcItems, 4); // Close is index 4\n\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\nconst fundingRate = parseFloat(binanceFutures.lastFundingRate || 0);\n\n// Logic\n// 1. Margin of Safety: Drop from ATH\nlet ath = 0;\nif (highsWeekly.length > 0) {\n    ath = Math.max(...highsWeekly);\n}\n// If current price > found ath, update ath\nif (currentPrice > ath) ath = currentPrice;\n\nconst drawdownPercent = ath > 0 ? ((ath - currentPrice) / ath) * 100 : 0;\nconst isDeepValue = drawdownPercent > 40;\n\n// 2. Hashrate Trend (Network Strength)\n// blockchain.info returns { values: [ { x, y }, ... ] }\nlet hashrateTrend = \"Unknown\";\nlet currentHashrate = 0;\nlet avg60Hashrate = 0;\n\nif (hashrateData && hashrateData.values && Array.isArray(hashrateData.values) && hashrateData.values.length > 0) {\n    const values = hashrateData.values; \n    currentHashrate = values[values.length - 1].y;\n    \n    // Last 60 points\n    const slice = values.slice(Math.max(0, values.length - 60));\n    if (slice.length > 0) {\n        const sum = slice.reduce((acc, v) => acc + v.y, 0);\n        avg60Hashrate = sum / slice.length;\n        hashrateTrend = currentHashrate > avg60Hashrate ? \"Growing\" : \"Declining\";\n    }\n}\n\n// 3. Rotation: Check if ETHBTC Close > 20-Week SMA\nlet rotationRegime = \"Unknown\";\nlet ethBtcSMA20 = 0;\nlet currentEthBtc = 0;\n\nif (ethBtcCloses.length >= 20) {\n    currentEthBtc = ethBtcCloses[ethBtcCloses.length - 1];\n    const slice = ethBtcCloses.slice(ethBtcCloses.length - 20);\n    ethBtcSMA20 = slice.reduce((a, b) => a + b, 0) / 20;\n    \n    rotationRegime = currentEthBtc > ethBtcSMA20 ? \"Altseason/Risk-On\" : \"Bitcoin Season\";\n}\n\n// 4. Contrarian Signal: If Funding Rate is NEGATIVE (< 0)\nconst isContrarianBuy = fundingRate < 0;\n\n// Verdict\nlet verdict = \"Neutral\";\nlet reasoning = `Drawdown: ${drawdownPercent.toFixed(1)}% (ATH: $${ath.toFixed(0)}), Funding: ${(fundingRate*100).toFixed(4)}%`;\n\nif (isDeepValue && isContrarianBuy) {\n    verdict = \"Deep Value (Strong Buy)\";\n    reasoning += \". >40% Drawdown + Negative Funding.\";\n} else if (drawdownPercent < 20 && fundingRate > 0.0005) { \n    verdict = \"Overvalued\"; \n    reasoning += \". Price near highs with high leverage.\";\n} else if (hashrateTrend === \"Growing\" && rotationRegime === \"Bitcoin Season\") {\n    if (drawdownPercent > 20) {\n        verdict = \"Accumulate\";\n        reasoning += \". Strong network + Bitcoin Season.\";\n    }\n}\n\nreturn [{\n    json: {\n        indicator: \"graham_analysis\",\n        verdict: verdict,\n        reasoning: reasoning,\n        drawdown_percent: drawdownPercent,\n        funding_rate: fundingRate,\n        hashrate_trend: hashrateTrend,\n        rotation_regime: rotationRegime,\n        contrarian_signal: isContrarianBuy\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        336
      ],
      "id": "e57ec4aa-96a6-4f48-95ea-d1cab93efb11",
      "name": "graham_value_check"
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastTelegramSentTime = new Date().toISOString();\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -272
      ],
      "id": "b98f79ac-272f-4f9c-9687-e74bfbb12e1c",
      "name": "Update Last Telegram Time"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3488,
        160
      ],
      "id": "30c3af27-fb3e-4b28-8646-74be40a512a3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        176
      ],
      "id": "f6f7f6b2-b422-4127-a587-46ace6169beb",
      "name": "Clean Merge1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3488,
        352
      ],
      "id": "2c4d5fed-961d-40a1-b2d2-595d2a7e088b",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        368
      ],
      "id": "dccd5b68-b8da-42d9-879a-de98319d547a",
      "name": "Clean Merge4"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=ETHBTC&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        -150
      ],
      "id": "1ce71369-99d0-4dd3-8e0c-5b15fa1d0783",
      "name": "Fetch ETHBTC Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.blockchain.info/charts/hash-rate?timespan=1year&format=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5440,
        500
      ],
      "id": "de4f0d17-1b0a-4e69-8440-c9905f1e269a",
      "name": "Fetch Hashrate",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Macro Context Analysis1": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Clean and Debug1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Data Clean and Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge3": {
      "main": [
        [
          {
            "node": "Micro Market Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "treasury_yield": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fed_funds_rate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "macro_news_summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_overview": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "gold_price_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Fetch Binance Ticker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Yahoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CryptoPanic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FearGreed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance OI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Futures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ETHBTC Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Hashrate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dxy_proxy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "crude_oil_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "btc_price_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "rsi14": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fear_greed_index_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_funding_rate": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "crypto_news_summary": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_open_interest": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_200wma_distance": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsi14_trend": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "bull_market_support_band": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "50wma": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ma50_ma200_trend": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pi_cycle_top": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "halving_cycle": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge Meso": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Top&Bottom": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Clean and Debug": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge": {
      "main": [
        [
          {
            "node": "Micro Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Clean Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge2": {
      "main": [
        [
          {
            "node": "Top & Bottom Watchout1",
            "type": "main",
            "index": 0
          },
          {
            "node": "BTC Meso Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Clean Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Ticker": {
      "main": [
        [
          {
            "node": "btc_overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Daily": {
      "main": [
        [
          {
            "node": "rsi14_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "ma50_ma200_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "pi_cycle_top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "bull_market_support_band",
            "type": "main",
            "index": 0
          },
          {
            "node": "50wma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Futures": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "btc_funding_rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance OI": {
      "main": [
        [
          {
            "node": "btc_open_interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo": {
      "main": [
        [
          {
            "node": "treasury_yield",
            "type": "main",
            "index": 0
          },
          {
            "node": "fed_funds_rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "dxy_proxy",
            "type": "main",
            "index": 0
          },
          {
            "node": "gold_price_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "crude_oil_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FearGreed": {
      "main": [
        [
          {
            "node": "fear_greed_index_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CryptoPanic": {
      "main": [
        [
          {
            "node": "crypto_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News": {
      "main": [
        [
          {
            "node": "macro_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top & Bottom Watchout1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BTC Meso Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Micro Market Analysis": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Micro Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Stance1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "graham_value_check": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update Last Telegram Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clean Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge1": {
      "main": [
        [
          {
            "node": "btc_200wma_distance",
            "type": "main",
            "index": 0
          },
          {
            "node": "graham_value_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Clean Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge4": {
      "main": [
        [
          {
            "node": "btc_price_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ETHBTC Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Hashrate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22111b10-b878-48ad-a12b-46752a0d240b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8748a89ba0a07ced721aa28816660fdc66500ea257b33db469e712184fd16c7"
  },
  "id": "Gsqq1LETYFzaV4Cf",
  "tags": [
    {
      "updatedAt": "2025-11-28T01:31:08.890Z",
      "createdAt": "2025-11-28T01:31:08.890Z",
      "id": "NOcXYUzjMxUFKSXL",
      "name": "Free Automation"
    }
  ]
}