Phil Crypto Investment Insight.json
{
  "name": "Phil Crypto Investment Insight",
  "nodes": [
    {
      "parameters": {
        "content": "## Macro Context \n",
        "height": 1680,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -288
      ],
      "typeVersion": 1,
      "id": "9f2a5678-0595-49c2-9f3c-03c7e836732e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        592
      ],
      "id": "ed0ded9a-ee4d-4f8b-aeb4-78cba5c8b2f2",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Micro Context\n",
        "height": 1680,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4416,
        -288
      ],
      "typeVersion": 1,
      "id": "0535b62b-f0e0-4b45-a8e2-0a5c098f3dac",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5744,
        256
      ],
      "id": "9623d67c-6667-4666-8e1a-51c50196a4e8",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        336
      ],
      "id": "c97ec585-8abb-470b-b728-bb08ec7aa2ea",
      "name": "Clean Merge3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        320
      ],
      "id": "d7cc2a21-0a93-4010-9662-c18f4d6eb2ba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\nlet result = {};\n\nconst series = getYahooSeries('^TNX');\nconst current = series[series.length - 1];\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nconst prev180 = series[series.length - 180] || current;\nresult = {\n    indicator: \"treasury_yield\",\n    current: current,\n    change_30d: current - prev30,\n    change_90d: current - prev90,\n    change_180d: current - prev180,\n    direction: current > prev30 ? \"up\" : \"down\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -128
      ],
      "id": "0c408b90-7d71-427b-b87a-b20d16010252",
      "name": "treasury_yield"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('^IRX'); // 13 Week T-Bill as proxy\nconst current = series[series.length - 1];\nconst prev90 = series[series.length - 90] || current; // ~3m\nconst prev180 = series[series.length - 180] || current; // ~6m\nresult = {\n    indicator: \"fed_funds_rate\",\n    current: current,\n    change_3m: current - prev90,\n    change_6m: current - prev180,\n    note: \"Using ^IRX (13 Week T-Bill) as proxy\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        16
      ],
      "id": "0bad947a-5a7d-4d4e-bd33-f7d9e8a9ba19",
      "name": "fed_funds_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst googleNewsData = $('Fetch Google News').first().json;\nlet xml = \"\";\n\n// Robustly find the XML string\nif (typeof googleNewsData === 'string') xml = googleNewsData;\nelse if (googleNewsData && typeof googleNewsData.data === 'string') xml = googleNewsData.data;\nelse if (googleNewsData && typeof googleNewsData.content === 'string') xml = googleNewsData.content;\nelse if (googleNewsData && typeof googleNewsData.xml === 'string') xml = googleNewsData.xml;\nelse xml = JSON.stringify(googleNewsData); // Fallback\n\n// State Management\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\n// Parse Items\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\n// Format Output\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"macro_news_summary\",\n        content: titles,\n        summary: titles,\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        160
      ],
      "id": "b51aa0c6-5165-4e45-a61f-0ee4b8023a52",
      "name": "macro_news_summary"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\n\n\nlet result = {};\n\nresult = {\n    indicator: \"btc_overview\",\n    price: parseFloat(binanceTicker.lastPrice),\n    change_24h: parseFloat(binanceTicker.priceChangePercent)\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        304
      ],
      "id": "1f83fe68-0776-42df-a4ae-092fbe45f423",
      "name": "btc_overview"
    },
    {
      "parameters": {
        "jsCode": "// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n// Parsers & Helpers\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('GC=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nconst prev90 = series[series.length - 90] || current;\nresult = {\n    indicator: \"gold_price_trend\",\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100,\n    change_90d: ((current - prev90)/prev90)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        768
      ],
      "id": "005ac16e-5152-49c2-b056-75754a6a8f97",
      "name": "gold_price_trend"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "78189cd1-9a02-4db2-b304-87e3cce82404",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('DX-Y.NYB');\nconst current = series[series.length - 1];\nresult = {\n    indicator: \"dxy_proxy\",\n    value: current\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        608
      ],
      "id": "77412eca-409d-49b6-b8c2-e19afbd71d49",
      "name": "dxy_proxy"
    },
    {
      "parameters": {
        "content": "## Real Data Sources\n\nThis workflow is now configured to fetch live data from:\n\n- **Binance**: BTC Price & Candles\n- **Yahoo Finance**: Gold, Oil, Yields\n- **Alternative.me**: Fear & Greed\n- **CryptoPanic**: Crypto News\n- **Google News**: Macro/Trump News",
        "height": 1680,
        "width": 1232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -288
      ],
      "typeVersion": 1,
      "id": "50bdaeab-109c-4a4d-b602-d7ea60fa363f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst yahooData = $('Fetch Yahoo').first().json;\n\n\n// Parsers & Helpers\n\nfunction getYahooSeries(symbol) {\n    try {\n        const result = yahooData.spark.result.find(r => r.symbol === symbol);\n        if (!result || !result.response) return [];\n        return result.response[0].indicators.quote[0].close;\n    } catch (e) { return []; }\n}\n\n\nlet result = {};\n\nconst series = getYahooSeries('CL=F');\nconst current = series[series.length - 1];\nconst prev7 = series[series.length - 7] || current;\nconst prev30 = series[series.length - 30] || current;\nresult = {\n    indicator: \"crude_oil_trend\",\n    price: current,\n    change_7d: ((current - prev7)/prev7)*100,\n    change_30d: ((current - prev30)/prev30)*100\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        912
      ],
      "id": "9c0e14af-d9c1-4c26-bb6a-78dfc0b72564",
      "name": "crude_oil_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json || {};\n// Use safe access to handle potential failures\nconst binanceDailyNode = $('Fetch Binance Daily').all();\nconst binanceDailyItems = binanceDailyNode.length > 0 ? binanceDailyNode.map(i => i.json).filter(i => i) : [];\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    if (!items || items.length === 0) return [];\n    // item is usually array [time, open, high, low, close, ...]\n    // Filter out invalid items (like error objects)\n    return items\n        .filter(i => Array.isArray(i) && i.length > 4)\n        .map(i => parseFloat(i[4]))\n        .filter(n => !isNaN(n));\n}\nconst closesDaily = getCloses(binanceDailyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction stdDev(values, period, average) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const squareDiffs = slice.map(value => Math.pow(value - average, 2));\n    const avgSquareDiff = squareDiffs.reduce((a, b) => a + b, 0) / period;\n    return Math.sqrt(avgSquareDiff);\n}\n\n// Indicator Logic\nlet result = {};\n\nif (closesDaily.length >= 20) {\n    const ma50 = sma(closesDaily, 50);\n    const ma20 = sma(closesDaily, 20);\n    const sd20 = stdDev(closesDaily, 20, ma20);\n    \n    const upper = ma20 + (2 * sd20);\n    const lower = ma20 - (2 * sd20);\n    \n    // BBW: (Upper - Lower) / Middle\n    const bbw = (ma20 !== 0) ? (upper - lower) / ma20 : 0;\n    \n    // Volatility Squeeze: Check if BBW is near 6-month low\n    let minBBW = 9999;\n    let bbwHistory = [];\n    const lookback = 180;\n    \n    // We calculate BBW history\n    for (let i = 0; i < lookback; i++) {\n        let idx = closesDaily.length - 1 - i;\n        if (idx < 20) break;\n        \n        let slice = closesDaily.slice(idx - 19, idx + 1);\n        let avg = slice.reduce((a, b) => a + b, 0) / 20;\n        \n        // Optimize: we just need avg for BBW calc? No we need SD.\n        // Doing full SD calc 180 times is fine for n8n code node (JS is fast enough).\n        let sqDiffs = slice.map(v => Math.pow(v - avg, 2));\n        let sd = Math.sqrt(sqDiffs.reduce((a, b) => a + b, 0) / 20);\n        \n        let u = avg + 2 * sd;\n        let l = avg - 2 * sd;\n        if (avg !== 0) {\n            bbwHistory.push((u - l) / avg);\n        }\n    }\n    \n    if (bbwHistory.length > 0) {\n        minBBW = Math.min(...bbwHistory);\n        // \"Near 6-month low\": Within 10% of the minimum\n        result.volatility_squeeze = bbw <= (minBBW * 1.10);\n    } else {\n        result.volatility_squeeze = false;\n    }\n    \n    result.bbw = bbw;\n\n    const trend = currentPrice > ma50 ? \"bullish\" : \"bearish\";\n    result.indicator = \"btc_price_trend\";\n    result.price = currentPrice;\n    result.trend = trend;\n} else {\n     // Handle missing data or API failure\n     result = {\n        indicator: \"btc_price_trend\",\n        price: currentPrice,\n        trend: \"neutral\",\n        error: \"Insufficient data\"\n    };\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        128
      ],
      "id": "c545763a-eba0-453a-92fb-61c65ca9f4a8",
      "name": "btc_price_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = rsi(closesDaily, 14);\nresult = {\n    indicator: \"rsi14\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        -16
      ],
      "id": "f0b262c4-727c-448d-8dcf-41533ce15ddc",
      "name": "rsi14"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst fearGreed = $('Fetch FearGreed').first().json;\n\n\n// Parsers & Helpers\n\n// Indicator Logic\nlet result = {};\n\nconst fng = fearGreed.data ? fearGreed.data[0] : { value: 50, value_classification: \"Neutral\" };\nresult = {\n    indicator: \"fear_greed_index_trend\",\n    value: parseInt(fng.value),\n    sentiment: fng.value_classification\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        272
      ],
      "id": "a54fb482-4a88-4db7-9096-d6957d6629c0",
      "name": "fear_greed_index_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceFutures = $('Fetch Binance Futures').first().json;\n\n// Parsers & Helpers\nlet result = {};\n\n// Binance funding rate is usually small number (e.g. 0.0001)\nconst rate = parseFloat(binanceFutures.lastFundingRate || 0);\nresult = {\n    indicator: \"btc_funding_rate\",\n    value: rate\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        416
      ],
      "id": "48cc4c35-c14e-46bb-aa26-5b26ee1360f7",
      "name": "btc_funding_rate"
    },
    {
      "parameters": {
        "jsCode": "\nconst cryptoPanicData = $('Fetch CryptoPanic').first().json;\nlet xml = \"\";\n\nif (typeof cryptoPanicData === 'string') xml = cryptoPanicData;\nelse if (cryptoPanicData && typeof cryptoPanicData.data === 'string') xml = cryptoPanicData.data;\nelse if (cryptoPanicData && typeof cryptoPanicData.content === 'string') xml = cryptoPanicData.content;\nelse xml = JSON.stringify(cryptoPanicData);\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastTelegramSentTime = staticData.lastTelegramSentTime ? new Date(staticData.lastTelegramSentTime) : new Date(Date.now() - 3600 * 1000); // Default 1h ago\n\nconst items = [];\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>(.*?)<\\/title>/;\nconst dateRegex = /<pubDate>(.*?)<\\/pubDate>/;\n\nlet match;\nwhile ((match = itemRegex.exec(xml)) !== null) {\n    const itemContent = match[1];\n    const titleMatch = titleRegex.exec(itemContent);\n    const dateMatch = dateRegex.exec(itemContent);\n\n    if (titleMatch && dateMatch) {\n        const title = titleMatch[1].replace(/<!\\[CDATA\\[(.*?)\\]\\]>/, '$1');\n        const date = new Date(dateMatch[1]);\n\n        if (date > lastTelegramSentTime) {\n            items.push({ title, date });\n        }\n    }\n}\n\nconst titles = items.length > 0\n    ? items.map(i => i.title).join(\". \")\n    : \"No new news since \" + lastTelegramSentTime.toISOString();\n\nreturn [{\n    json: {\n        indicator: \"crypto_news_summary\",\n        summary: titles,\n        source: \"CryptoPanic RSS\",\n        item_count: items.length\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        736
      ],
      "id": "cdebb76a-888f-4364-aba5-25a567de4d80",
      "name": "crypto_news_summary"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\n\nconst binanceOI = $('Fetch Binance OI').first().json;\n\n\n// Parsers & Helpers\n\n\nlet result = {};\n\nconst oi = parseFloat(binanceOI.openInterest || 0);\nresult = {\n    indicator: \"btc_open_interest\",\n    value: oi\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        592
      ],
      "id": "5535e11b-9159-4c2c-857a-3c4236cc5784",
      "name": "btc_open_interest"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceTicker = $('Fetch Binance Ticker').first().json;\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\nconst currentPrice = parseFloat(binanceTicker.lastPrice);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nlet result = {};\n\nconst ma200w = sma(closesWeekly, 200);\nconst dist = ((currentPrice - ma200w) / ma200w) * 100;\nresult = {\n    indicator: \"btc_200wma_distance\",\n    distance_percent: dist\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        -16
      ],
      "id": "60acac36-4a6e-4b8a-b0d1-f3514f413686",
      "name": "btc_200wma_distance"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\n\nfunction rsi(values, period) {\n    if (values.length < period + 1) return 50;\n    let gains = 0;\n    let losses = 0;\n\n    // Calculate initial average gain/loss (SMA)\n    for (let i = 0; i < period; i++) {\n        const diff = values[i + 1] - values[i];\n        if (diff > 0) {\n            gains += diff;\n        } else {\n            losses -= diff;\n        }\n    }\n\n    let avgGain = gains / period;\n    let avgLoss = losses / period;\n\n    // Calculate smoothed averages using Wilder's method\n    for (let i = period; i < values.length - 1; i++) {\n        const diff = values[i + 1] - values[i];\n        let currentGain = 0;\n        let currentLoss = 0;\n        if (diff > 0) {\n            currentGain = diff;\n        } else {\n            currentLoss = -diff;\n        }\n\n        avgGain = ((avgGain * (period - 1)) + currentGain) / period;\n        avgLoss = ((avgLoss * (period - 1)) + currentLoss) / period;\n    }\n\n    if (avgLoss === 0) return 100;\n    const rs = avgGain / avgLoss;\n    return 100 - (100 / (1 + rs));\n}\n\n\n\nlet result = {};\n\nconst currentRsi = rsi(closesDaily, 14);\nconst prevRsi = rsi(closesDaily.slice(0, -1), 14);\nresult = {\n    indicator: \"rsi14_trend\",\n    trend: currentRsi > prevRsi ? \"rising\" : \"falling\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        96
      ],
      "id": "8ff2b94c-305b-4783-be2f-00763c6d7acd",
      "name": "rsi14_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\nfunction ema(values, period) {\n    if (values.length < period) return 0;\n    const k = 2 / (period + 1);\n    let ema = values[0]; // Start with the first value\n    // Iterate from the second value to the end\n    for (let i = 1; i < values.length; i++) {\n        ema = values[i] * k + ema * (1 - k);\n    }\n    return ema;\n}\n\n// Indicator Logic\nlet result = {};\n\nconst ema20w = ema(closesWeekly, 20);\nconst sma21w = sma(closesWeekly, 21);\nresult = {\n    indicator: \"bull_market_support_band\",\n    support_level: (ema20w + sma21w) / 2, // Average of the band\n    description: \"20W EMA / 21W SMA\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        224
      ],
      "id": "0b33f467-27e4-4c25-a54d-c4c109062187",
      "name": "bull_market_support_band"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceWeeklyItems = $('Fetch Binance Weekly').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\n\nconst closesWeekly = getCloses(binanceWeeklyItems);\n\n\n\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\n// Indicator Logic\n\nlet result = {};\n\nconst val = sma(closesWeekly, 50);\nresult = {\n    indicator: \"50wma\",\n    value: val\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        368
      ],
      "id": "438d9c67-6db0-4efa-b22b-4649fbe3cb44",
      "name": "50wma"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst ma50 = sma(closesDaily, 50);\nconst ma200 = sma(closesDaily, 200);\nresult = {\n    indicator: \"ma50_ma200_trend\",\n    status: (ma50 > ma200) ? \"bullish\" : \"bearish\",\n    description: \"MA50 vs MA200\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        496
      ],
      "id": "a8448f1d-a25f-4e3e-9150-c687d39ad017",
      "name": "ma50_ma200_trend"
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst binanceDailyItems = $('Fetch Binance Daily').all();\n\n\n\n// Parsers & Helpers\nfunction getCloses(items) {\n    return items.map(i => parseFloat(i.json[4]));\n}\nconst closesDaily = getCloses(binanceDailyItems);\n\nfunction sma(values, period) {\n    if (values.length < period) return 0;\n    const slice = values.slice(values.length - period);\n    const sum = slice.reduce((a, b) => a + b, 0);\n    return sum / period;\n}\n\n\nlet result = {};\n\nconst dma111 = sma(closesDaily, 111);\nconst dma350x2 = sma(closesDaily, 350) * 2;\nresult = {\n    indicator: \"pi_cycle_top\",\n    is_top: dma111 > dma350x2,\n    description: \"111DMA vs 350DMA*2\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        624
      ],
      "id": "3b59b66c-b624-4a0c-8a07-95bbf3e29e4a",
      "name": "pi_cycle_top"
    },
    {
      "parameters": {
        "jsCode": "\n\n\n\nlet result = {};\n\n// Next halving approx April 2028?\n// Last halving April 2024.\nconst now = new Date();\nconst lastHalving = new Date('2024-04-19');\nconst nextHalving = new Date('2028-04-19');\nconst totalTime = nextHalving - lastHalving;\nconst elapsedTime = now - lastHalving;\nconst progress = (elapsedTime / totalTime) * 100;\nresult = {\n    indicator: \"halving_cycle\",\n    progress_percent: progress,\n    phase: \"post-halving\"\n};\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        784
      ],
      "id": "60d1182b-de4d-4a47-830a-674f6e0931c5",
      "name": "halving_cycle"
    },
    {
      "parameters": {
        "content": "## Meso Context\n\n",
        "height": 1680,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -288
      ],
      "typeVersion": 1,
      "id": "959ee87f-303f-4a19-b780-2f3466daf807",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3504,
        64
      ],
      "id": "8f7991a6-5504-4c03-bbfc-1e23f86783e4",
      "name": "Merge Meso"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3536,
        608
      ],
      "id": "b6e24dcb-51df-40f1-a6f8-dc32a3977977",
      "name": "Merge Top&Bottom"
    },
    {
      "parameters": {
        "jsCode": "// === Unified Market Insights Cleaner ===\n// Mode: Run Once for All Items\nconst items = $input.all();\nlet macro, meso, micro, news, topbottom;\n\n// --- Helper: Robustly extract text from various AI JSON structures --- \nfunction pickContent(d) { \n    if (!d) return null;\n\n    // 1. Google Gemini / PaLM (Structure: content.parts[0].text) \n    if (d.content?.parts?.[0]?.text) { \n        return d.content.parts[0].text; \n    }\n\n    // 2. OpenAI / Standard (Structure: choices[0].message.content) \n    if (d.choices?.[0]?.message?.content) { \n        return d.choices[0].message.content; \n    }\n\n    // 3. Direct Message (Anthropic/Other) \n    if (d.message?.content) { \n        return d.message.content; \n    }\n\n    // 4. Fallback: Content is already a simple string \n    if (typeof d.content === 'string') { \n        return d.content; \n    }\n\n    return null; \n}\n\n// --- Classifier: Identify the section based on text keywords --- \nfunction classify(text) { \n    if (!text || typeof text !== \"string\") return; \n    const t = text.toLowerCase();\n\n    if (!macro && (t.includes(\"macro market analysis\") || t.startsWith(\"macro \"))) { \n        macro = text; \n    } else if (!meso && (t.includes(\"meso market analysis\") || t.includes(\"price & trend\"))) { \n        meso = text; \n    } else if (!micro && (t.includes(\"micro market analysis\") || t.includes(\"volatility squeeze\"))) { \n        micro = text; \n    } else if (!news && (t.includes(\"crypto news summary\") || t.includes(\"sentiment:\"))) { \n        news = text; \n    } else if (!topbottom && (t.includes(\"top & bottom\") || t.includes(\"cycle turning point\"))) { \n        topbottom = text; \n    } \n}\n\n// --- Main Loop --- \nfor (const it of items) { \n    const j = it.json;\n\n    // Scenario A: Input is an Aggregated Array (from a Merge node) \n    if (Array.isArray(j.data)) { \n        for (const d of j.data) { \n            // Try to classify AI text \n            classify(pickContent(d));\n\n            // Check for News object inside aggregation\n            if (d.indicator === \"crypto_news_summary\" && d.summary) {\n                news = `Today's Crypto News Summary\\nSource: ${d.source || \"RSS\"} | Sentiment: ${d.general_sentiment || \"N/A\"}\\n\\n${d.summary}`;\n            }\n        } \n    }\n\n    // Scenario B: Input is Single Item \n    classify(pickContent(j));\n\n    // Check for News object directly \n    if (j.indicator === \"crypto_news_summary\" && j.summary) { \n        news = `Today's Crypto News Summary\\nSource: ${j.source || \"RSS\"} | Sentiment: ${j.general_sentiment || \"N/A\"}\\n\\n${j.summary}`; \n    } \n}\n\n// --- Extract Raw Metrics & Metadata --- \nconst getJson = (name) => { try { return $(name).first().json; } catch(e) { return {}; } };\n\nconst graham = getJson('graham_value_check');\nconst liquidity = getJson('liquidity_trend');\nconst yieldData = getJson('treasury_yield');\n\n// Regex to extract Macro Bias from the macro text report\nlet macroBias = \"Mixed\";\nif (macro) {\n    const match = macro.match(/macroBias:\\s*[\"']?([^\"'\\n\\r\\]]+)[\"']?/i);\n    if (match) macroBias = match[1];\n}\n\nconst metrics = {\n    verdict: graham.verdict || \"Neutral\",\n    verdict_emojis: \"\ud83d\ude10\", \n    drawdown: graham.drawdown_percent ? Math.round(graham.drawdown_percent) + \"%\" : \"N/A\",\n    hashrate_trend: graham.hashrate_trend || \"N/A\",\n    graham_valuation: graham.verdict || \"N/A\",\n    liquidity_trend: liquidity.status || \"N/A\",\n    yield10y: yieldData.current ? yieldData.current.toFixed(2) + \"%\" : \"N/A\",\n    macro_bias: macroBias,\n    date: new Date().toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' })\n};\n\n// Simple Emoji Logic\nconst v = metrics.verdict.toLowerCase();\nif (v.includes(\"buy\") || v.includes(\"accumulate\") || v.includes(\"value\")) metrics.verdict_emojis = \"\ud83d\udfe2\";\nelse if (v.includes(\"sell\") || v.includes(\"overvalued\") || v.includes(\"bear\")) metrics.verdict_emojis = \"\ud83d\udd34\";\n\n// --- Output Construction --- \nconst out = {}; \nif (macro) out.macro = macro; \nif (meso) out.meso = meso; \nif (micro) out.micro = micro; \nif (news) out.news = news; \nif (topbottom) out.topbottom = topbottom;\nout.metrics = metrics;\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5936,
        304
      ],
      "id": "c4f79d60-b5be-47cb-932c-2be0fe199db1",
      "name": "Data Clean and Debug"
    },
    {
      "parameters": {
        "content": "## Optional\nTelegram Message.",
        "height": 368,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6384,
        176
      ],
      "typeVersion": 1,
      "id": "5c51a0d8-ea90-4522-9f03-5d129ab93fb5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        688
      ],
      "id": "42e3d36a-1a5c-4f59-bdb1-fadd69afa3ca",
      "name": "Clean Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3680,
        352
      ],
      "id": "0840217d-c299-4cfe-a576-f4b3e46998bd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        352
      ],
      "id": "792b3325-3122-4f6f-b60b-a5d5c5991075",
      "name": "Clean Merge2"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        272
      ],
      "id": "18329509-3e96-4666-a1b7-7932af15e0d0",
      "name": "Merge3"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        0
      ],
      "id": "4dd1e2b9-a078-4ca1-8e70-190ba7804316",
      "name": "Fetch Binance Ticker",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1d&limit=400",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        144
      ],
      "id": "2f2be288-d5f5-43d7-98c7-a75618db4911",
      "name": "Fetch Binance Daily",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        288
      ],
      "id": "dd565e48-a2bc-46ca-b67f-f494ac2ae31e",
      "name": "Fetch Binance Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/premiumIndex?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        224
      ],
      "id": "1166c76e-8e14-422d-9255-ceb2cb8bf9e7",
      "name": "Fetch Binance Futures",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://fapi.binance.com/fapi/v1/openInterest?symbol=BTCUSDT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        464
      ],
      "id": "923ffcca-b38b-4f31-850a-b839f89e6820",
      "name": "Fetch Binance OI",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v7/finance/spark?symbols=^TNX,GC=F,CL=F,DX-Y.NYB,^IRX&range=1y&interval=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        768
      ],
      "id": "7842b651-118a-4ccd-9671-67be99369019",
      "name": "Fetch Yahoo",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/?limit=7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        608
      ],
      "id": "e99bf1e9-149c-4d03-a71c-a09c92740392",
      "name": "Fetch FearGreed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://cryptopanic.com/news/rss/",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        928
      ],
      "id": "0971ff73-5ea4-4880-8d56-0dd8fd0e4ccb",
      "name": "Fetch CryptoPanic",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Donald+Trump+Elon+Musk+crypto",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        528
      ],
      "id": "2623234f-50b0-415b-ad2e-76a3e907c622",
      "name": "Fetch Google News",
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1003480857416",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6480,
        304
      ],
      "id": "69898e0f-377f-41c5-9594-0a7bde629b23",
      "name": "Send a text message",
      "webhookId": "3705f81f-3ea1-4a0c-895f-3c9091fca9a0",
      "credentials": {
        "telegramApi": {
          "id": "Wii0cnwJvc8xBoZV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=These are today's data about Bitcoin and the crypto cycle, your job is to describe where in the cycle are we. \n\nThis can be: \n\n- Early Bull Run\n- Mid Bull Run\n- Late Bull Run\n- Euphoria Phase (Bubble Territory)\n- Early Bear Market\n- Mid Bear Market\n- Late Bear Market / Bottom\n\nGive a higher ponderation to risk_context. If \"risk_context\" is \"Elevated cycle risk\" consider we are at least in Late Bull Run. \n\nFeel free to add additional notes if you find them important. \n\nDo not write more than 3-4 lines.\n\nGive this short analysis a clear title: \"Top & Bottom Watchout\"\n\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4128,
        208
      ],
      "id": "398b9e12-100f-4d91-af38-fc18d76d051a",
      "name": "Top & Bottom Watchout1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior crypto market strategist.\n\nGoal: Compress the meso-level BTC snapshot in the JSON into a concise daily trading brief used alongside a separate MICRO timing model. Be a signal filter, not a narrative.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY values present in the JSON; if absent, write \"not provided\".\n- Prefer implications over raw stats (e.g., \u201cscarcity intact\u201d instead of listing stock/flow/block_reward numbers).\n- Price & Trend must reference only what\u2019s in JSON (e.g., Bull Market Support Band: 20W EMA / 21W SMA, 50W MA). Do NOT invent 50D/200D if missing.\n- Momentum: use RSI if present; otherwise \"not provided\".\n- Cycle: compare price vs S2F fair_value and state rainbow zone; mention halving progress and composite/phase if present.\n- Dominance: report latest level and micro/meso/macro trend labels if present; state rotation implication.\n- Levels: list bull band (20W EMA / 21W SMA) and 50W MA as Support; include Resistance ONLY if explicitly provided; else \"not provided\".\n- Outlook: give a 2\u20134 week bias and a 3\u20136 month view tied to the levels above.\n- Triggers: one Bull and one Bear condition, explicitly tied to those levels (e.g., weekly close > band; weekly close < 50W MA).\n- Keep it actionable and compact. Plain language. No markdown, no tables.\n- Word cap: 300 words total. Use \"$\" in prices and make it easy to read with unequivocal terms and concepts (eg. Bitcoin Dominance instead of BTC.D)\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"BTC Meso Market Analysis\"\nmesoBrief:\nPrice & Trend: [...]\nMomentum: [...]\nCycle (S2F & Rainbow): [...]\nOn-chain/Issuance: [...]\nDominance & Rotation: [...]\nLevels:\n- Support: [...]\n- Resistance: [...]\nOutlook:\n- 2\u20134 weeks: [...]\n- 3\u20136 months: [...]\ntriggers:\n- Bull: [...]\n- Bear: [...]\nmesoBias: \"mildly-bullish\" | \"neutral\" | \"mildly-bearish\"\nhorizon: [\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4128,
        496
      ],
      "id": "106397bc-07b1-4397-90b9-c6c191a5b954",
      "name": "BTC Meso Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a quantitative analyst.  \nYour task is to interpret the JSON dataset provided below \u2014 it represents the latest *micro-level indicators* for a specific crypto asset.\n\n\u26a0\ufe0f Important:\n- Do NOT infer, speculate, or reference macro, meso, or external market context.\n- Only describe what is explicitly shown in the data.\n- If a metric is missing or null, omit it.\n- Keep the tone factual, concise, and technical.\n- Do not provide recommendations, outlooks, or predictions.\n- Your only goal is to organize and summarize the data clearly.\n\nGive your analysis a clear title: \"BTC Micro Market Analysis\"\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5296,
        336
      ],
      "id": "b0ebfb73-cc96-4448-80a1-16eea326445b",
      "name": "Micro Market Analysis",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a macro strategist for crypto.\n\nGoal: Produce a precise, compact macro brief + 2 short bullets on what this macro \u201cwind\u201d implies for BTC/ETH. This is a signal filter, not a trade call.\n\nInput JSON:\n{{ JSON.stringify($json, null, 2) }}\n\nRules:\n- Use ONLY numbers/fields present in the JSON; if a value is missing, write \"not provided\".\n- Prioritize numeric fields; IGNORE any long narrative strings under keys like \"message\", \"content\", \"summary\" unless they contain unique numeric facts.\n- Always assess: \n  \u2022 Liquidity Fuel (USDT 30d trend)\n  \u2022 10Y Treasury (current; biggest % move among 30/90/180d and its direction)  \n  \u2022 Fed Funds (current; 3m and 6m change)  \n  \u2022 M2 (YoY; and whether 3m vs 6m shows acceleration or deceleration)  \n  \u2022 USD via dxy_proxy (if absent: \"USD: not provided\")  \n  \u2022 Gold (7d/30d/90d % changes)  \n  \u2022 WTI (latest; 7d and 30d % changes)\n- Call out any regime conflict (e.g., short rates \u2191 while long yields \u2193).\n- Round: rates to 2 decimals; % moves to 1 decimal. Plain language, no equations, no ticker spam.\n- Keep macro focus; do NOT give specific trade entries/targets/stops.\n- Max 220 words total.\n\nOutput EXACTLY this structure (no extra text/markdown):\n\ntitle: \"Macro Market Analysis\"\nmacroBrief:\n1) Rates & liquidity: [...]\n2) USD, Gold, Oil: [...]\n3) Risk tone: [...]\nriskAssetsCrypto:\n- BTC: [...]\n- ETH: [...]\nmacroBias: [\"risk-on\",\"risk-off\",\"mixed\"]\nhorizon: [\"days\",\"weeks\",\"months\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2544,
        688
      ],
      "id": "ea55fbcc-d31b-4404-816c-6f943a0f2d5f",
      "name": "Micro Market Analysis1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as the Chief Editor of the \"Institutional Genesis Report\".\nYour task is to synthesize the provided metrics and analysis into a final HTML report for Telegram.\n\nCRITICAL HTML RULES:\n\nTelegram HTML is limited. DO NOT use <ul>, <li>, or <br> tags.\n\nFor lists, use a plain text bullet point \"\u2022 \" followed by the text.\n\nNEVER use the '&' character on its own. You MUST write it as '&amp;' every single time.\n\nBAD: \"S&P 500\"\n\nGOOD: \"S&amp;P 500\"\n\nDo not use Markdown (bold). Use only HTML tags (<b>, <i>, <code>).\n\nEscape < and > as &lt; and &gt;.\n\nInput Data:\nMETRICS:\n{{JSON.stringify($json.metrics)}}\n\nANALYSIS SUMMARIES:\n{{$json.macro}}\n{{$json.meso}}\n{{$json.micro}}\n{{$json.topbottom}}\n\nNEWS:\n{{$json.news}}\n\nInstructions:\n\nWrite a \"Tactical Stance\" (1 concise paragraph). Use <b>bold</b> for price levels.\n\nWrite an \"Analyst Rationale\" (1 dense technical sentence).\n\nSelect the top 3 most relevant News headlines. Format them as plain text lines starting with \"\u2022 \".\n\nOutput the result using this EXACT HTML template (do not change the structure, just fill the slots):\n\n<b>\ud83d\udcc5 INSTITUTIONAL GENESIS REPORT</b> <i>{{$json.metrics.date}}</i>\n\n<b>\ud83d\uded1 CYCLE SIGNAL:</b> {{$json.metrics.verdict_emojis}} <b>{{$json.metrics.verdict}}</b>\n\n\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\n\n<b>\ud83c\udf0a MACRO &amp; LIQUIDITY</b> \u2022 <b>Regime:</b> {{$json.metrics.macro_bias}} \u2022 <b>Liquidity:</b> {{$json.metrics.liquidity_trend}} \u2022 <b>10Y Yield:</b> <code>{{$json.metrics.yield10y}}</code>\n\n<b>\ud83c\udfd7 FUNDAMENTALS (Graham)</b> \u2022 <b>Valuation:</b> {{$json.metrics.graham_valuation}} \u2022 <b>Drawdown:</b> <code>{{$json.metrics.drawdown}}</code> \u2022 <b>Hashrate:</b> {{$json.metrics.hashrate_trend}}\n\n\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\u2796\n\n<b>\ud83c\udfaf TACTICAL STANCE</b> [Insert Your Escaped Tactical Stance Here]\n\n<b>\ud83e\udde0 ANALYST RATIONALE</b> <i>[Insert Your Escaped Rationale Here]</i>\n\n\ud83d\udcf0 <b>HEADLINES</b> [Headline 1 (Start with \u2022 )] [Headline 2 (Start with \u2022 )] [Headline 3 (Start with \u2022 )]\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        6128,
        304
      ],
      "id": "bc27f9ef-7896-46a3-8e36-2e4fc1a46858",
      "name": "Market Stance1",
      "credentials": {
        "googlePalmApi": {
          "id": "3WcjGrEmVOgnUbOk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes - Safe access patterns for Dead Man's Switch\nconst getJson = (nodeName) => {\n    try {\n        const node = $(nodeName).first();\n        if (!node || !node.json || node.json.error) return {};\n        return node.json;\n    } catch(e) { return {}; }\n};\n\nconst getItems = (nodeName) => {\n    try {\n        return $(nodeName).all().map(i => i.json);\n    } catch(e) { return []; }\n};\n\nconst binanceTicker = getJson('Fetch Binance Ticker');\nconst binanceWeeklyItems = getItems('Fetch Binance Weekly');\nconst binanceFutures = getJson('Fetch Binance Futures');\nconst ethBtcItems = getItems('Fetch ETHBTC Weekly');\nconst hashrateData = getJson('Fetch Hashrate');\n\n// Helpers\nfunction getValues(items, index) {\n    if (!items || items.length === 0) return [];\n    return items\n        .filter(i => Array.isArray(i) && i.length > index)\n        .map(i => parseFloat(i[index]))\n        .filter(n => !isNaN(n));\n}\n\nconst highsWeekly = getValues(binanceWeeklyItems, 2); // High is index 2\nconst ethBtcCloses = getValues(ethBtcItems, 4); // Close is index 4\n\nconst currentPrice = parseFloat(binanceTicker.lastPrice || 0);\nconst fundingRate = parseFloat(binanceFutures.lastFundingRate || 0);\n\n// Logic\n// 1. Margin of Safety: Drop from ATH\nlet ath = 0;\nif (highsWeekly.length > 0) {\n    ath = Math.max(...highsWeekly);\n}\n// If current price > found ath, update ath\nif (currentPrice > ath) ath = currentPrice;\n\nconst drawdownPercent = ath > 0 ? ((ath - currentPrice) / ath) * 100 : 0;\nconst isDeepValue = drawdownPercent > 40;\n\n// 2. Hashrate Trend (Network Strength)\n// blockchain.info returns { values: [ { x, y }, ... ] }\nlet hashrateTrend = \"Unknown\";\nlet currentHashrate = 0;\nlet avg60Hashrate = 0;\n\nif (hashrateData && hashrateData.values && Array.isArray(hashrateData.values) && hashrateData.values.length > 0) {\n    const values = hashrateData.values; \n    currentHashrate = values[values.length - 1].y;\n    \n    // Last 60 points\n    const slice = values.slice(Math.max(0, values.length - 60));\n    if (slice.length > 0) {\n        const sum = slice.reduce((acc, v) => acc + v.y, 0);\n        avg60Hashrate = sum / slice.length;\n        hashrateTrend = currentHashrate > avg60Hashrate ? \"Growing\" : \"Declining\";\n    }\n}\n\n// 3. Rotation: Check if ETHBTC Close > 20-Week SMA\nlet rotationRegime = \"Unknown\";\nlet ethBtcSMA20 = 0;\nlet currentEthBtc = 0;\n\nif (ethBtcCloses.length >= 20) {\n    currentEthBtc = ethBtcCloses[ethBtcCloses.length - 1];\n    const slice = ethBtcCloses.slice(ethBtcCloses.length - 20);\n    ethBtcSMA20 = slice.reduce((a, b) => a + b, 0) / 20;\n    \n    rotationRegime = currentEthBtc > ethBtcSMA20 ? \"Altseason/Risk-On\" : \"Bitcoin Season\";\n}\n\n// 4. Contrarian Signal: If Funding Rate is NEGATIVE (< 0)\nconst isContrarianBuy = fundingRate < 0;\n\n// Verdict\nlet verdict = \"Neutral\";\nlet reasoning = `Drawdown: ${drawdownPercent.toFixed(1)}% (ATH: $${ath.toFixed(0)}), Funding: ${(fundingRate*100).toFixed(4)}%`;\n\nif (isDeepValue && isContrarianBuy) {\n    verdict = \"Deep Value (Strong Buy)\";\n    reasoning += \". >40% Drawdown + Negative Funding.\";\n} else if (drawdownPercent < 20 && fundingRate > 0.0005) { \n    verdict = \"Overvalued\"; \n    reasoning += \". Price near highs with high leverage.\";\n} else if (hashrateTrend === \"Growing\" && rotationRegime === \"Bitcoin Season\") {\n    if (drawdownPercent > 20) {\n        verdict = \"Accumulate\";\n        reasoning += \". Strong network + Bitcoin Season.\";\n    }\n}\n\nreturn [{\n    json: {\n        indicator: \"graham_analysis\",\n        verdict: verdict,\n        reasoning: reasoning,\n        drawdown_percent: drawdownPercent,\n        funding_rate: fundingRate,\n        hashrate_trend: hashrateTrend,\n        rotation_regime: rotationRegime,\n        contrarian_signal: isContrarianBuy\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        912
      ],
      "id": "5e9c87b6-3e72-4349-9085-09a72a893923",
      "name": "graham_value_check"
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nstaticData.lastTelegramSentTime = new Date().toISOString();\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6704,
        304
      ],
      "id": "7a36d5a3-c75f-4371-950a-185404064109",
      "name": "Update Last Telegram Time"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2400,
        304
      ],
      "id": "0f5cb81f-ef87-4596-b253-c5e992fd914c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        352
      ],
      "id": "60c96291-a270-408f-b8a5-c6b1ab922b12",
      "name": "Clean Merge1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        -224
      ],
      "id": "455cc135-cd9e-4a3a-bb68-0f0f9d7b7fd0",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: items.map(i => i.json)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -208
      ],
      "id": "3d14450b-52b3-44b2-a6f0-39cdd6d62d90",
      "name": "Clean Merge4"
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=ETHBTC&interval=1w&limit=210",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        400
      ],
      "id": "f502f4e8-3c49-4d8e-8e3b-c3625c55503c",
      "name": "Fetch ETHBTC Weekly",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.blockchain.info/charts/hash-rate?timespan=1year&format=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        1088
      ],
      "id": "d3edca95-22b5-4e06-aa70-d4d007cb28ed",
      "name": "Fetch Hashrate",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/tether/market_chart?vs_currency=usd&days=90&interval=daily",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        1216
      ],
      "id": "a1af758a-4a91-438d-bbe6-2f89f0757c24",
      "name": "Fetch Liquidity",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\n// Access Fetch Nodes\nconst data = $('Fetch Liquidity').first().json;\n\n// Parsers & Helpers\nlet result = {};\n\nif (data && data.market_caps && Array.isArray(data.market_caps)) {\n    const caps = data.market_caps;\n    // CoinGecko market_caps is [[timestamp, value], ...]\n    // Sorted oldest to newest\n    \n    const current = caps[caps.length - 1][1];\n    const prev30 = caps[caps.length - 31] ? caps[caps.length - 31][1] : caps[0][1];\n    const prev90 = caps[0][1]; // Approx 90 days ago given API call\n    \n    const change30d = ((current - prev30) / prev30) * 100;\n    const change90d = ((current - prev90) / prev90) * 100;\n    \n    const status = change30d > 0 ? \"Expansion\" : \"Contraction\";\n    const implication = change30d > 0 ? \"Fuel entering ecosystem\" : \"Liquidity exit\";\n    \n    result = {\n        indicator: \"usdt_liquidity\",\n        market_cap: current,\n        trend_30d_percent: change30d,\n        trend_90d_percent: change90d,\n        status: status,\n        implication: implication\n    };\n} else {\n     result = {\n        indicator: \"usdt_liquidity\",\n        error: \"No data\"\n    };\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        1088
      ],
      "id": "2c7b878d-e0c9-417b-ace8-6ddf9fc2b024",
      "name": "liquidity_trend"
    }
  ],
  "pinData": {},
  "connections": {
    "Macro Context Analysis1": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Clean and Debug1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Data Clean and Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge3": {
      "main": [
        [
          {
            "node": "Micro Market Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "treasury_yield": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fed_funds_rate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "macro_news_summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_overview": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "gold_price_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Fetch Binance Ticker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Yahoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CryptoPanic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FearGreed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance OI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Futures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ETHBTC Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Hashrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Liquidity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dxy_proxy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "crude_oil_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "btc_price_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "rsi14": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fear_greed_index_trend": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "btc_funding_rate": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "crypto_news_summary": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_open_interest": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "btc_200wma_distance": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsi14_trend": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "bull_market_support_band": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "50wma": {
      "main": [
        [
          {
            "node": "Merge Meso",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ma50_ma200_trend": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pi_cycle_top": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "halving_cycle": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge Meso": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Top&Bottom": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Clean and Debug": {
      "main": [
        [
          {
            "node": "Market Stance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge": {
      "main": [
        [
          {
            "node": "Micro Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Clean Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge2": {
      "main": [
        [
          {
            "node": "Top & Bottom Watchout1",
            "type": "main",
            "index": 0
          },
          {
            "node": "BTC Meso Market Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Clean Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Ticker": {
      "main": [
        [
          {
            "node": "btc_overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Daily": {
      "main": [
        [
          {
            "node": "rsi14_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "ma50_ma200_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsi14",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "pi_cycle_top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "bull_market_support_band",
            "type": "main",
            "index": 0
          },
          {
            "node": "50wma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Futures": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "btc_funding_rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance OI": {
      "main": [
        [
          {
            "node": "btc_open_interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo": {
      "main": [
        [
          {
            "node": "treasury_yield",
            "type": "main",
            "index": 0
          },
          {
            "node": "fed_funds_rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "dxy_proxy",
            "type": "main",
            "index": 0
          },
          {
            "node": "gold_price_trend",
            "type": "main",
            "index": 0
          },
          {
            "node": "crude_oil_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FearGreed": {
      "main": [
        [
          {
            "node": "fear_greed_index_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CryptoPanic": {
      "main": [
        [
          {
            "node": "crypto_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google News": {
      "main": [
        [
          {
            "node": "macro_news_summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top & Bottom Watchout1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BTC Meso Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Micro Market Analysis": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Micro Market Analysis1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Stance1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "graham_value_check": {
      "main": [
        [
          {
            "node": "Merge Top&Bottom",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update Last Telegram Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clean Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge1": {
      "main": [
        [
          {
            "node": "btc_200wma_distance",
            "type": "main",
            "index": 0
          },
          {
            "node": "graham_value_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Clean Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Merge4": {
      "main": [
        [
          {
            "node": "btc_price_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ETHBTC Weekly": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Hashrate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Fetch Liquidity": {
      "main": [
        [
          {
            "node": "liquidity_trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "liquidity_trend": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Binance Ticker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch ETHBTC Weekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FearGreed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Yahoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CryptoPanic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Hashrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Liquidity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance OI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Binance Futures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Google News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ab85095-0f17-4f8b-abbf-1cdf5a6ec0a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8748a89ba0a07ced721aa28816660fdc66500ea257b33db469e712184fd16c7"
  },
  "id": "Gsqq1LETYFzaV4Cf",
  "tags": [
    {
      "updatedAt": "2025-11-28T01:31:08.890Z",
      "createdAt": "2025-11-28T01:31:08.890Z",
      "id": "NOcXYUzjMxUFKSXL",
      "name": "Free Automation"
    }
  ]
}